﻿@using Abp.Application.Services.Dto
@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization

@{
    ViewBag.CurrentPageName = PageNames.Stock_Entry;
}
@section scripts
    {
    <script src="~/view-resources/Views/StockEntry/Index.js" asp-append-version="true"></script>
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Stock Entry</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                    @if (IsGranted(PermissionNames.Pages_Stock_Entry_Export))
                    {
                        <button id="ExportToExcelButton" class="btn btn-outline-success btn-sm"><i class="fa fa-file-excel-o"></i>&nbsp;Export</button>
                    }
                    @if (IsGranted(PermissionNames.Pages_Stock_Entry_Create))
                    {
                        <button id="CreateNewButton" onclick="window.open('@Url.Action("Create", "StockEntry")')" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i>&nbsp; Create</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        @* Filter *@
                        <div class="card" id="accordion">
                            <div class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Filter
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                <div class="card-body">
                                    <div class="row align-items-center m--margin-bottom-10">
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">From</label>
                                                <input type="text" id="DateFrom" name="DateFrom" class="input-sm form-control-sm form-control date-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">To</label>
                                                <input type="text" id="DateTo" name="DateTo" class="input-sm form-control-sm form-control date-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Type</label>
                                                <select id="EntryTypes" class="selectpicker form-control input-sm form-control-sm" multiple data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Status</label>
                                                <select id="StatusTypes" class="selectpicker form-control input-sm form-control-sm" multiple data-live-search="true">
                                                    <option value="1">Draft</option>
                                                    <option value="2">Released</option>
                                                    <option value="3">Completed</option>
                                                    <option value="4">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center m--margin-bottom-10">
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Source Warehouse</label>
                                                <select id="DefaultSources" class="selectpicker form-control input-sm form-control-sm" multiple data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Destination Warehouse</label>
                                                <select id="DefaultDestinations" class="selectpicker form-control input-sm form-control-sm" multiple data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Transaction Code</label>
                                                <input type="text" id="SearchFilter" class="form-control m-input input-sm form-control-sm" placeholder="Id" value="">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group" style="padding-top:20px;">
                                                <button id="SearchButton" class="btn btn-default btn-sm" type="submit"><i class="fa fa-search" aria-label="@L("Search")"></i>&nbsp;Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        @* List *@
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <table id="ListTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th width="20%">Type</th>
                                            <th width="15%">Status</th>
                                            <th width="30%">Warehouse</th>
                                            <th width="15%"></th>@*Id*@
                                            <th width="15%"></th>@*Date*@
                                            <th width="5%">@L("Actions")</th>
                                            <th></th>@*Status*@
                                            <th></th>@*Source*@
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


