﻿@using ezinvmvc.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.AttendanceApprover;
}
@section scripts
    {
    <script src="~/view-resources/Views/EmpAttApprover/Index.js" asp-append-version="true"></script>
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-8 col-xl-8">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Attendance Approver</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="btn-group" role="group" style="width:100% ; padding-top:10px">
                    @*<button id="Filterbutton" style="width:100%" class="btn btn-outline-info" data-toggle="modal" data-target="#AttList"><i class="fa fa-filter"></i>&nbsp;Attendance Id</button>*@
                    <button id="EmployeeList" style="width:100%" data-toggle="modal" data-target="#EmployeeListModal" class="btn btn-outline-primary btn-sm"><i class="fa fa-list-ol"></i>&nbsp;Employees</button>
                    <button id="CompressButton" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="width:100%" class="btn btn-outline-primary btn-lg color-red"><i class="fa fa-compress"></i>&nbsp;Compress</button>
                    <button id="ExpandButton" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="width:100%" class="btn btn-outline-primary btn-lg color-red"><i class="fa fa-expand"></i>&nbsp;Expand</button>
                    @*<button id="AttRecordButton" class="btn btn-outline-info" data-toggle="modal" data-target="#AttRecord"><i class="fa fa-question-circle fa-lg color-red"></i>&nbsp;REC</button>*@
                </div>
            </div>
        </div>
    </div>
</div>        
<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="accordion">
                            <div id="collapseTwo" class="panel-collapse collapse out collapse show">
                                <form name="EmpAttIdRec" role="form" novalidate class="form-validation">
                                    <table id="EmpAttIdTable" class="table table-striped table-bordered table-hover nowrap">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>EmpId</th>
                                                <th>EmpCode</th>
                                                <th>Att&nbsp;Id</th>
                                                <th>Date</th>
                                                <th>Date&nbsp;Start</th>
                                                <th>Date&nbsp;End</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </form>
                            </div>
                        </div>
                            <form name="Attid" role="form" novalidate class="form-validation">
                                <div class="row">
                                    <div class="col-md-3 col-xl-3">
                                        <label for="completeName">Name</label>
                                        <input id="completeName" name="completeName" type="text" class="form-control" readonly required maxlength="128" placeholder="Select Employee">
                                        <input id="EmpId" name="EmpId" type="hidden" class="form-control" required maxlength="128">
                                        <input id="EmpCode" name="No" type="hidden" class="form-control" readonly maxlength="128">
                                        <input id="DateRecStart" name="DateRecStart" type="hidden" class="input-md form-control-md form-control date-picker" value="1900-01-01" placeholder="Date" readonly>
                                        <input id="DateRecEnd" name="DateRecEnd" type="hidden" class="input-md form-control-md form-control date-picker" value="1900-01-01" placeholder="Date" readonly>
                                    </div>
                                    <div class="col-md-1 col-xl-1 ">
                                        <label for="TimeIn">In</label>
                                        <input id="TimeIn2" name="TimeIn2" type="text" class="form-control" readonly maxlength="128">
                                        <input id="attid" name="attRecid" type="hidden" class="form-control" readonly required maxlength="128" placeholder="Select Att Id">
                                    </div>
                                    <div class="col-md-1 col-xl-1">
                                        <label for="MinLate">MinLate</label>
                                        <input id="MinLate" name="MinLate" type="text" class="form-control" readonly maxlength="128">
                                    </div>
                                    <div class="col-md-1 col-xl-1">
                                        <label for="TimeIOut">Out</label>
                                        <input id="TimeIOut" name="TimeIOut" type="text" class="form-control" readonly maxlength="128">
                                    </div>
                                    <div class="col-md-1 col-xl-1">
                                        <label for="NoHours">#Hrs</label>
                                        <input id="NoHours" name="NoHours" type="text" class="form-control" readonly maxlength="128">
                                    </div>
                                    <div class="col-md-1 col-xl-1">
                                        <label for="OTNoHours">O.T&nbsp;Lmt</label>
                                        <input id="OTNoHours" name="OTNoHours" type="text" class="form-control" readonly maxlength="128">
                                    </div>
                                    <div class="col-md-2 col-xl-2">
                                        <label for="StrickOvertime">Allowed OT</label>
                                        <select id="StrickOvertime" name="StrickOvertime" class="selectpicker form-control" tabindex="-1">
                                            <option></option>
                                            <option value=1>Yes</option>
                                            <option value=0>No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-xl-2">
                                        <label for="FlexiTime">Flexi</label>
                                        <select id="FlexiTime" name="FlexiTime" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                            <option></option>
                                            <option value=1>Yes</option>
                                            <option value=0>No</option>
                                        </select>
                                    </div>

                                </div>
                            </form>
                            <form name="AttidDetails" role="form" novalidate class="form-validation">
                                <table id="Attntable" class="table table-striped table-bordered table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>EmpId</th>
                                            <th>No</th>
                                            <th>AttRec</th>
                                            <th>AttendanceId</th>
                                            <th>Days</th>
                                            <th>Date</th>
                                            <th>DateIn</th>
                                            <th>WorkIn</th>
                                            <th>TimeIn</th>
                                            <th>LateIn</th>
                                            <th>MinLates</th>

                                            <th>WorkOut</th>
                                            <th>TimeOut</th>
                                            <th>HrsWorked</th>
                                            <th>OtHour</th>
                                            <th>UTimeHour</th>
                                            <th>HolidayDescription</th>
                                            <th>OTPerHourPercent</th>
                                            <th>Holiday</th>
                                            <th>HolidayRates</th>

                                            <th>EnTitlement</th>
                                            <th>LeaveRates</th>
                                            <th>HrsPerDay</th>
                                            <th>RatePerHour</th>
                                            <th>DeductionLate</th>
                                            <th>RatePerDay</th>
                                            <th>Rate</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EmployeeListModal" tabindex="-1" role="dialog" aria-labelledby="EmployeeListModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Employee List</span>
                </h4>
            </div>

            <form name="FormAttEmp" role="form" novalidate class="form-validation">
                <div class="modal-body">
                    <div class="row align-items-center m--margin-bottom-10">
                        <div class="col-md-4 col-xl-4">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <div class="form-group">
                                <select name="SearchBy" id="SearchBy" class="selectpicker form-control">
                                    <option value=0>-- Search By --</option>
                                    <option value="CompleteName">Full Name</option>
                                    <option value="Department">Department</option>
                                    <option value="Division">Division</option>
                                    <option value="Sectors">Sectors</option>
                                    <option value="Position">Position</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" id="EmployeeTableFilter" class="form-control m-input" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button id="GetEmployeeButton" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @* List *@
                        <div class="col-md-12 col-xl-12">
                            <table id="EmployeesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Employee ID</th>
                                        <th>Full Name</th>
                                        <th>Cell No</th>
                                        <th>Department</th>
                                        <th>Position</th>
                                        <th>Status</th>
                                        <th>@L("Actions")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-label="@L("Closed")"></i>&nbsp;Closed</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="EmployeeAttUpdateModal" tabindex="-1" role="dialog" aria-labelledby="EmployeeAttUpdateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Attendance Approval</span>
                </h4>
            </div>

            <form name="FormAttEmpUpdate" role="form" novalidate class="form-validation">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Att Id</label>
                            <input id="AttIda" name="AttendanceId" type="text" class="form-control" required maxlength="128">
                            <input id="Ida" name="Id" type="hidden" class="form-control" required maxlength="128">
                            <input id="EmpIda" name="EmpId" type="hidden" class="form-control" required maxlength="128">


                        </div>
                        <div class="col-md-8 col-xl-8">

                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Days</label>
                            <input id="Daysa" name="Days" type="text" class="form-control" required maxlength="128" readonly>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Date</label>
                            <input id="Datea" name="Date" type="text" class="form-control" required maxlength="128" readonly>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Date In</label>
                            <input id="DateIna" name="DateIn" type="text" class="form-control date-picker" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Time In</label>
                            <input id="Ina" name="TimeIn" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Time Out</label>
                            <input id="Outa" name="TimeOut" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Hours</label>
                            <input id="Hoursa" name="HrsWorked" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Late</label>
                            <input id="Latea" name="MinLates" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Undertime</label>
                            <input id="Utimea" name="UnderTimeHour" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="OverTime">Over Time</label>
                            <input id="OTa" name="OtHour" type="text" class="form-control" maxlength="128">
                        </div>

                        <div class="col-md-4 col-xl-4">
                            <label for="Holiday">Holiday</label>
                            <input id="holidayLeavea" name="HolidayDescription" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="Entitle">Entitle</label>
                            <input id="enTitlea" name="EnTitlement" type="text" class="form-control" maxlength="128">

                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="HrsPerDay">HrsPerDay</label>
                            <input id="hrsPerDaya" name="HrsPerDay" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="RatePerHour">RatePerHour</label>
                            <input id="payrollRatePerHoura" name="PayrollRatePerHour" type="text" class="form-control" maxlength="128">

                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="payrollRatePerDay">RatePerDay</label>
                            <input id="payrollRatePerDaya" name="PayrollRatePerDay" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="rates">Rates</label>
                            <input id="ratesa" name="Rates" type="text" class="form-control" maxlength="128">
                        </div>
                        <div class="col-md-8 col-xl-8">
                            <label for="PayrollRate">Description</label>
                            <input id="Descriptiona" name="Description1" type="text" class="form-control" required maxlength="128">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label for="PayrollRate">Status</label>
                            <select id="Statusa" name="Status" class="selectpicker form-control" tabindex="-1" required>
                                <option></option>
                                <option value=Active>Active</option>
                                <option value=Approved>Approved</option>
                                <option value=DisApproved>DisApproved</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fa fa-close" aria-label="@L("Closed")"></i>&nbsp;Closed</button>
                    <button id="Updatebutton" class="btn btn-outline-primary"><i class="fa fa-save"></i>&nbsp; Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
