﻿<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary waves-effect" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="save-button btn btn-outline-success  waves-effect">@L("Save")</button>
</div>
