﻿@using ezinvmvc.Web.Startup
@model ezinvmvc.Web.Models.Roles.RoleListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Roles; // The menu item will be active for this page.
}
@section scripts
    {
    <script src="~/view-resources/Views/Roles/Index.js" asp-append-version="true"></script>
}
<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="font-size:medium; font-weight:500">
                        Roles
                        <button id="CreateButton" data-toggle="modal" data-target="#RoleCreateModal" class="btn btn-outline-primary btn-sm pull-right"><i class="fa fa-plus"></i>&nbsp; Create Role</button>
                    </div>
                    <div class="card-body">

                        <div class="body table-responsive">
                            <table id="RolesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th width="42%">@L("RoleName")</th>
                                        <th width="43%">@L("DisplayName")</th>
                                        <th width="5%">@L("Actions")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RoleCreateModal" tabindex="-1" role="dialog" aria-labelledby="RoleCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="font-size:medium; font-weight:500">
                Create New Role
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="roleCreateForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-line">
                                <input id="rolename" type="text" name="Name" required maxlength="32" minlength="2" class="validate form-control">
                                <label for="rolename" class="form-label">@L("RoleName")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-line">
                                <input id="displayname" type="text" name="DisplayName" required maxlength="32" minlength="2" class="validate form-control">
                                <label for="displayname" class="form-label">@L("DisplayName")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-line">
                                <textarea id="role-description" name="Description" class="validate form-control"></textarea>
                                <label for="role-description" class="form-label">@L("RoleDescription")</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-header" style="font-size:medium; font-weight:600">
                        Permissions
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            @foreach (var permission in Model.Permissions)
                            {
                                <div class="col-sm-6">
                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="permission-@permission.Name" checked="checked" />
                                    <label for="permission-@permission.Name">@permission.DisplayName</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-outline-success waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" aria-labelledby="RoleEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
