﻿@using ezinvmvc.Web.Models.Common.Modals
@model ezinvmvc.Web.Models.Warehouse.WarehouseEditModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Edit Warehouse"))
<div class="modal-body">
    <form name="WarehouseEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Warehouse.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="abbr" type="text" name="Abbr" value="@Model.Warehouse.Abbr" required maxlength="8" minlength="2" class="validate form-control">
                        <label for="abbr" class="form-label">Abbr</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="name" type="text" name="Name" value="@Model.Warehouse.Name" required maxlength="64" minlength="2" class="validate form-control">
                        <label for="name" class="form-label">Name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <textarea asp-for="@Model.Warehouse.Description" id="Description" name="Description" maxlength="328" minlength="2" class="form-control"></textarea>
                        <label for="Description">Description</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.CheckBox("IsMain", Model.Warehouse.IsMain)
                        <label for="IsMain">Is Main</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
<script src="~/view-resources/Views/Warehouse/_EditWarehouseModal.js" asp-append-version="true"></script>
