﻿@using ezinvmvc.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Warehouses;
}
@section scripts
    {
    <script src="~/view-resources/Views/Warehouse/Index.js" asp-append-version="true"></script>
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Warehouse</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="float-right" style="padding-top:10px">
                    <button id="CreateButton" data-toggle="modal" data-target="#WarehouseCreateModal" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i>&nbsp; Create Warehouse</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @* Filter *@

                        @* List *@
                        <div class="body table-responsive">
                            <table id="WarehouseTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th width="30%">Abbr</th>
                                        <th width="35%">Name</th>
                                        <th width="30%">IsMain</th>
                                        <th width="5%">@L("Actions")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="WarehouseCreateModal" tabindex="-1" role="dialog" aria-labelledby="WarehouseCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Create New Warehouse</span>
                </h4>
            </div>
            <form name="roleCreateForm" role="form" novalidate class="form-validation">

                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="abbr" type="text" name="Abbr" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="abbr" class="form-label">Abbr</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="name" type="text" name="Name" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="name" class="form-label">Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea id="description" name="Description" class="validate form-control"></textarea>
                                    <label for="description" class="form-label">Description</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <input type="checkbox" name="IsMain" class="filled-in" id="IsMain" />
                                <label for="IsMain">Is Main</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                    <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="WarehouseEditModal" tabindex="-1" role="dialog" aria-labelledby="WarehouseEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>