﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Web.Models.Employees

@model EmployeesViewModel
@{
    ViewBag.CurrentPageName = PageNames.Employees_Records;
}
@section scripts
    {
    <script src="~/view-resources/Views/EmployeesRecord/IndexRec.js" asp-append-version="true"></script>
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Employee Record</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-4 col-xl-4 card border border-info bg-primary2">
                        <table id="EmployeesTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Full&nbsp;Name</th>
                                    <th>@L("Actions")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="col-md-8 col-xl-8">
                        <input id="FullName" name="FullName" type="text" class="form-control" placeholder="Employee Name" readonly required maxlength="128">
                        <br />
                        <div class="custom-tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="custom-nav-Records-tab" data-toggle="tab" href="#custom-nav-Records" role="tab" aria-controls="custom-nav-Records" aria-selected="true">Records</a>
                                    <a class="nav-item nav-link" id="custom-nav-Attendance-tab" data-toggle="tab" href="#custom-nav-Attendance" role="tab" aria-controls="custom-nav-Attendance" aria-selected="false">Attendance</a>
                                    <a class="nav-item nav-link" id="custom-nav-Leaves-tab" data-toggle="tab" href="#custom-nav-Leaves" role="tab" aria-controls="custom-nav-Leaves" aria-selected="false">Leaves</a>
                                </div>
                            </nav>
                            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="custom-nav-Records" role="tabpanel" aria-labelledby="custom-nav-Records-tab">
                                    <table id="PerformanceTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Description</th>
                                                <th>Date</th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <form name="EmployeeId" role="form" novalidate class="form-validation">
                                        <input id="EmpId" name="EmpId" type="hidden" class="form-control input-sm" required maxlength="128">
                                    </form>
                                    <form name="EmployeeRecordIdForm" role="form" novalidate class="form-validation">
                                        <input id="Id" name="Id" type="hidden" class="form-control input-sm">
                                    </form>
                                    <div class="card border border-info" id="accordion">
                                        <div class="card-header">
                                            <a data-toggle="collapse" id="Add" data-parent="#accordion" href="#collapseTwo">&nbsp;Add</a>
                                            <a data-toggle="collapse" id="Update" data-parent="#accordion" href="#collapseTwo">&nbsp;Update</a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse in">
                                            <form name="EmployeeRecordCreateForm" role="form" novalidate class="form-validation">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-7 col-xl-7">
                                                            <div class="form-group">
                                                                <input id="Description" name="Description" type="text" class="form-control input-sm form-control-sm" placeholder="Description" required maxlength="128">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-xl-3">
                                                            <div class="form-group">
                                                                <input id="Date" type="text" name="Date" class="form-control input-sm form-control-sm date-picker" placeholder="Date" required maxlength="128">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-xl-2">
                                                            <button id="SaveItemButton" style="width:100%" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Add</button>
                                                            <button id="UpdateItemButton" style="width:100%" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-nav-Attendance" role="tabpanel" aria-labelledby="custom-nav-Attendance-tab">
                                    <div class="row">
                                        <div class="col-md-3 col-xl-3">
                                            <input id="DateFrom" name="Date" type="text" class="form-control date-picker" placeholder="Date From">
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <input id="DateTo" name="Date" type="text" class="form-control date-picker" placeholder="Date To">
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <select id="Status" name="Status" class="selectpicker form-control">
                                                <option value='' Active>-Select-</option>
                                                <option value='Present'>Present</option>
                                                <option value='Absent'>Absent</option>
                                                <option value='Leave'>Leave</option>
                                                <option value='Restday' Active>Restday</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <button id="FilterAttendaceButton" style="width:100%" class="btn btn-outline-primary"><i class="fa fa-filter"></i>&nbsp; Filter</button>
                                        </div>
                                        <table id="AttendanceTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>EmpId</th>
                                                    <th>AttId</th>
                                                    <th>Days</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>In</th>
                                                    <th>Out</th>
                                                    <th>Status</th>
                                                    <th>@L("Actions")</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-nav-Leaves" role="tabpanel" aria-labelledby="custom-nav-Leaves-tab">
                                    <table id="LeavesTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>EmpId</th>
                                                <th>Date From</th>
                                                <th>Date To</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="card border border-info" id="accordion2">
                                        <div class="card-header">
                                            <a data-toggle="collapse" id="AddLeave" data-parent="#accordion2" href="#collapsetree"><i class="fa fa-lg fa-"></i>&nbsp;Add</a>
                                            <a data-toggle="collapse" id="UpdateLeave" data-parent="#accordion2" href="#collapsetree"><i class="fa fa-lg fa-"></i>&nbsp;Update</a>
                                        </div>
                                        <div id="collapsetree" class="panel-collapse collapse in">
                                            <form name="EmployeeLeaveIdCreateForm" role="form" novalidate class="form-validation">
                                                <input id="LeaveId" name="Id" type="hidden" class="form-control input-sm" required maxlength="128">
                                            </form>
                                            <form name="EmployeeLeaveCreateForm" role="form" novalidate class="form-validation">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-4 col-xl-4">
                                                            <div class="form-group">
                                                                <input id="LeaveDateFrom" type="text" name="DateFrom" class="form-control input-sm form-control-sm date-picker" placeholder="Date" required maxlength="128">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-xl-4">
                                                            <div class="form-group">
                                                                <input id="LeaveDateTo" type="text" name="DateTo" class="form-control input-sm form-control-sm date-picker" placeholder="Date" required maxlength="128">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-xl-4">
                                                            <select id="LeaveStatus" name="Status" class="selectpicker form-control">
                                                                <option value="Active" selected>Active</option>
                                                                <option value="Cancelled">Cancelled</option>
                                                                <option value="Approved">Approved</option>
                                                                <option value="Disapproved">Disapproved</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-10 col-xl-10">
                                                            <div class="form-group">
                                                                <input id="LeaveDescription" name="Description" type="text" class="form-control input-sm form-control-sm" placeholder="Description" required>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2 col-xl-2">
                                                            <button id="SaveLeaveButton" style="width:100%" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Add</button>
                                                            <button id="UpdateLeaveButton" style="width:100%" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>       
                            </div>
                         </div>                        
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
