﻿@using Abp.Application.Services.Dto
@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.Sales
@{
    ViewBag.CurrentPageName = PageNames.Quotations_Create;
}
@model QuotationListViewModel

@section scripts
    {
    <script src="~/view-resources/Views/Quotations/Create.js" asp-append-version="true"></script>
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <input type="text" id="h1" value="@Model.EmpId" hidden>
                    <div class="page-title">
                        <h1>Create Quotation</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                    <button id="SaveButton" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <form id="QuotationForm" name="QuotationForm" enctype="multipart/form-data" role="form" novalidate class="form-validation">
            <div class="row clearfix">
                <div class="col-md-12  col-xl-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="Product">Series</label>
                                        <div class="input-group">
                                            <input id="ReRevisionNo" type="hidden" value="1" name="RevisionNo">
                                            <select name="SeriesTypeId" id="Series" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="Product">Company</label>
                                        <div class="input-group">
                                            <select name="CompanyId" id="Companies" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label>Request</label>
                                        <input type="hidden" id="DefaultDiscount" name="DefaultDiscount">
                                        <input type="hidden" id="RequestId" name="RequestId">
                                        <input type="hidden" id="RequestCode" name="RequestCode">
                                        <input type="hidden" id="LeadId" name="LeadId">
                                        <input type="text" id="Request" name="Request" class="form-control" placeholder="Type here">
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="input-group date" data-provide="datepicker">
                                            <input type="text" name="TransactionTime" class="form-control date-picker" required>
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="txtClient">Client Name/Company Name</label>
                                        <input id="ClientId" type="hidden" name="ClientId" required>
                                        <input id="ClientName" class="form-control" type="text" name="Client" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="txtClient">Contact Person</label>
                                        <input id="ContactPersonId" type="hidden" name="ContactPersonId" required>
                                        <input id="ContactPerson" class="form-control" type="text" name="ContactPerson" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="txtClient">Project</label>
                                        <input id="Project" class="form-control" type="text" name="Project" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="ddOrderType">Order Type</label>
                                        <select name="OrderTypeId" id="OrderTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="SalesAgent">Account Executive</label>
                                        <input id="SalesAgentId" type="hidden" name="SalesAgentId" required>
                                        <input id="SalesAgent" class="form-control" type="text" name="SalesAgent" placeholder="Type here" readonly required>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="ddPriceType">Price Type</label>
                                        <select name="PricingTypeId" id="PricingTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 col-xl-12">
                    <div class="card" id="accordion">
                        <div class="card-header">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file">
                                </span>Address and Notes
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6  col-xl-6">
                                        <input id="ClientEmail" type="text" name="ClientEmail" class="form-control" readonly hidden>
                                        <div class="form-group">
                                            <label>Delivery Address</label>
                                            <textarea id="DeliveryAddress" name="DeliveryAddress" rows="4" class="form-control" readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6  col-xl-6">
                                        <div class="form-group">
                                            <label for="ddPriceType">Billing Address</label>
                                            <textarea id="ClientAddress" name="ClientAddress" rows="4" class="form-control" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12  col-xl-12">
                                        <div class="form-group">
                                            <textarea id="Notes" name="Notes" class="form-control" rows="3" placeholder="Notes" maxlength="328"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12  col-xl-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col-md-12  col-xl-12">
                                    <div class="form-group">
                                        <table id="ItemsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th width="5%">#</th>@*0*@
                                                    <th width="35%">Item</th>@*1*@
                                                    <th width="15%">Qty</th>@*2*@
                                                    <th width="15%">Price</th>@*3 Price*@
                                                    <th width="10%">Less</th>@*4 DiscTotal*@
                                                    <th width="15%">Amount</th>@*5 Total*@
                                                    <th width="5%"></th>@*6 Total*@
                                                    <th></th>@*7 ProductId*@
                                                    <th></th>@*8 Description*@
                                                    <th></th>@*9 OrderQty*@
                                                    <th></th>@*10 UnitId*@
                                                    <th></th>@*11 Disc1*@
                                                    <th></th>@*12 DiscType1*@
                                                    <th></th>@*13 Disc2*@
                                                    <th></th>@*14 DiscType2*@
                                                    <th></th>@*15 Disc3*@
                                                    <th></th>@*16 DiscType3*@
                                                    <th></th>@*17 GroupName*@
                                                    <th></th>@*18 Reference*@
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-12">
                                <div class="card border border-success" id="accordion">
                                    <div class="card-header">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Add Item
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input id="ProductId" type="hidden">
                                                        <input id="ProductName" type="text" class="form-control" placeholder="Type here">
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label>Code</label>
                                                        <input id="ProductCode" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="row">
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="form-group">
                                                                <label>Quantity</label>
                                                                <input id="Quantity" type="text" name="Quantity" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="form-group">
                                                                <label>Stocks</label>
                                                                <input id="Stocks" type="text" class="form-control" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="row">
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="form-group">
                                                                <label>Unit</label>
                                                                <select id="Units" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="form-group">
                                                                <label>Price</label>
                                                                <input id="Price" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                            </div>
                                                        </div>
                                                    </div>
                                             
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                   
                                                    <div class="card" id="accordiondiscount">
                                                        <div class="card-header">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                                Add Discount
                                                            </a>
                                                        </div>
                                                        <div id="collapseThree" class="panel-collapse collapse in">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Discount</label>
                                                                            <input id="Discount1" type="text" class="form-control font-weight-bold text-danger" onkeypress="return decimalOnly(this.id);">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Type</label>
                                                                            <select id="DiscountType1" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                <option value=2>Percent</option>
                                                                                <option value=1>Value</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Discount</label>
                                                                            <input id="Discount2" type="text" class="form-control  font-weight-bold text-danger" onkeypress="return decimalOnly(this.id);">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Type</label>
                                                                            <select id="DiscountType2" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                <option value=2>Percent</option>
                                                                                <option value=1>Value</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Discount</label>
                                                                            <input id="Discount3" type="text" class="form-control  font-weight-bold text-danger" onkeypress="return decimalOnly(this.id);">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Type</label>
                                                                            <select id="DiscountType3" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                <option value=2>Percent</option>
                                                                                <option value=1>Value</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea id="PerDescription" class="form-control" rows="5" maxlength="328"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label>Group Name</label>
                                                        <input id="GroupName" type="text" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <img id="ProductImage" src="" class="img-fluid img-thumbnail" style="margin-top:25px" alt="your image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">

                                                </div>
                                                <div class="col-md-6  col-xl-6">

                                                    <div class="form-group  text-right">
                                                        <button id="AddItemButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12  col-xl-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="row form-group">
                                        <div class="col-md-3 col-xl-3 text-left" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label">Payment Term</label>
                                        </div>
                                        <div class="col-md-8 col-xl-8">
                                            <select name="PaymentTermId" id="PaymentTerms" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                        <div class="col-md-1 col-xl-1 text-left">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3 col-xl-3 text-left" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label">Delivery Type</label>
                                        </div>
                                        <div class="col-md-8 col-xl-8">
                                            <select name="DeliveryTypeId" id="DeliveryTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                        <div class="col-md-1 col-xl-1 text-left">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3 col-xl-3 text-left" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label">Tax Type</label>
                                        </div>
                                        <div class="col-md-8 col-xl-8">
                                            <select name="TaxTypeId" id="TaxTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                        <div class="col-md-1 col-xl-1 text-left">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3 col-xl-3 text-left" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label">Warranty</label>
                                        </div>
                                        <div class="col-md-8 col-xl-8">
                                            <select name="WarrantyTypeId" id="WarrantyTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                        <div class="col-md-1 col-xl-1 text-left">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Discount</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="DiscountTotal" disabled name="DiscountTotal" class="form-control text-right text-danger" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Net Total</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="NetTotal" disabled name="NetTotal" class="form-control text-right" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Tax</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="Tax" disabled name="Tax" class="form-control text-right" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Total</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="Total" disabled name="Total" class="form-control text-right" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 col-xl-12">
                    <div class="card" id="accordion">
                        <div class="card-header">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file">
                                </span>Other Charges
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12  col-xl-12">
                                        <div class="form-group">
                                            <table id="ChargesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">#</th>@*0*@
                                                        <th width="45%">Type</th>@*1*@
                                                        <th width="20%">Rate</th>@*2*@
                                                        <th width="20%">Amount</th>@*3 Price*@
                                                        <th width="20%">Total</th>@*4 Total*@
                                                        <th width="5%"></th>@*5 Total*@
                                                        <th></th>@*6 ChargeTypeId*@
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4  col-xl-4">
                                        <div class="form-group">
                                            <label>Type</label>
                                            <select name="ChargeTypeId" id="ChargeTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-xl-4">
                                        <div class="form-group">
                                            <label>Rate</label>
                                            <input id="ChargeRate" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-xl-4">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input id="ChargeAmount" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6  col-xl-6">
                                    </div>
                                    <div class="col-md-6  col-xl-6">

                                        <div class="form-group  text-right">
                                            <button id="AddChargeButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add to Charges</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12  col-xl-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col-md-6  col-xl-6">

                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Other Charges</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="ChargesTotal" disabled name="ChargesTotal" class="form-control text-right font-weight-bold" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xl-6">

                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Grand Total</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="GrandTotal" disabled name="GrandTotal" class="form-control text-right font-weight-bold" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix" hidden>
                <div class="col-md-12 col-xl-12">
                    <div class="card" id="accordion">
                        <div class="card-header">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file">
                                </span>Terms and Conditions
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12  col-xl-12">
                                        <div class="form-group">
                                            <textarea id="TermsAndConditions" name="TermsAndConditions" class="form-control" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="ItemEditModal" tabindex="-1" role="dialog" aria-labelledby="ItemEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title text-success">
                    <span>Edit Item # </span><label id="EIndexNo">0</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6  col-xl-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="EProductId" type="hidden">
                            <input id="EProductName" type="text" class="form-control" placeholder="Type here">
                        </div>
                    </div>
                    <div class="col-md-6  col-xl-6">
                        <div class="form-group">
                            <label>Code</label>
                            <input id="EProductCode" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-xl-6">
                        <div class="row">
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input id="EQuantity" type="text" name="Quantity" class="form-control" onkeypress="return decimalOnly(this.id);">
                                </div>
                            </div>
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Stocks</label>
                                    <input id="EStocks" type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  col-xl-6">
                        <div class="row">
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <select id="EUnits" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                </div>
                            </div>
                            <div class="col-md-6  col-xl-6">

                                <div class="form-group">
                                    <label>Price</label>
                                    <input id="EPrice" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-xl-6">
                       
                        <div class="card" id="accordioneditdiscount">
                            <div class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Add Discount
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Discount</label>
                                                <input id="EDiscount1" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                            </div>
                                        </div>
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <select id="EDiscountType1" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                    <option value=2>Percent</option>
                                                    <option value=1>Value</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Discount</label>
                                                <input id="EDiscount2" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                            </div>
                                        </div>
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <select id="EDiscountType2" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                    <option value=2>Percent</option>
                                                    <option value=1>Value</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Discount</label>
                                                <input id="EDiscount3" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                            </div>
                                        </div>
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <select id="EDiscountType3" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                    <option value=2>Percent</option>
                                                    <option value=1>Value</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="EPerDescription" class="form-control" rows="5" maxlength="328"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6  col-xl-6">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input id="EGroupName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <img id="EProductImage" src="" class="img-fluid img-thumbnail" style="margin-top:25px" alt="your image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm waves-effect" data-dismiss="modal">@L("Cancel")</button>
                <button id="UpdatetemButton" class="btn btn-outline-success btn-sm">Update</button>
            </div>
        </div>
    </div>
</div>


