﻿@using Abp.Application.Services.Dto
@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.Sales
@{
    ViewBag.CurrentPageName = PageNames.Quotations_Edit;
}
@model QuotationListViewModel
@section Styles
    {
    <link rel="stylesheet" href="~/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="~/lib/blueimp-file-upload/css/jquery.fileupload.css" type="text/css" media="print" />
}
@section scripts
    {
    <script src="~/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/lib/blueimp-tmpl/js/tmpl.min.js"></script>
    <script src="~/lib/blueimp-load-image/js/load-image.all.min.js"></script>
    <script src="~/lib/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
    <script src="~/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-audio.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>

    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size m-b-5">Processing...</p>
                <div class="progress progress-sm m-b-0 progress-striped active"><div class="progress-bar progress-bar-primary" style="min-width: 2em; width:0%;"></div></div>
            </td>
            <td nowrap>
                {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary btn-sm start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn btn-default btn-sm cancel m-l-3">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td nowrap>
                {% if (file.deleteUrl) { %}
                <button class="btn btn-danger btn-sm delete m-l-3" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <div class="checkbox-inline checkbox-danger m-t-5">
                    <input type="checkbox" id="{%=file.deleteUrl%}" name="delete" value="1" class="toggle" />
                    <label for="{%=file.deleteUrl%}"></label>
                </div>
                {% } else { %}
                <button class="btn btn-default btn-sm cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>

    <script src="~/view-resources/Views/Quotations/Edit.js" asp-append-version="true"></script>
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>
                            Edit Quotation
                            <span id="StatusBadge"></span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                    @if (IsGranted(PermissionNames.Pages_Quotations_Create))
                    {
                        <button id="CreateNewButton" onclick="window.open('@Url.Action("Create", "Quotations")')" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i>&nbsp; Create New</button>
                    }
                    @if (IsGranted(PermissionNames.Pages_Quotations_Export))
                    {
                        <div id="PrintMenuButton" class="btn-group" role="group">
                            <button id="btnGroupDrop2" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-print"></i>
                                Print
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                <a id="PrintButton" class="dropdown-item" href="#">&nbsp;&nbsp;Quotation</a>
                                <a id="PrintActualButton" class="dropdown-item" href="#">&nbsp;&nbsp;Actual</a>
                            </div>
                        </div>
                        @*<button id="PrintButton" class="btn btn-outline-secondary btn-sm"><i class="fa fa-print"></i>&nbsp; Print</button>*@
                    }
                    @if (IsGranted(PermissionNames.Pages_Quotations_Edit))
                    {
                        <button id="SaveButton" class="btn btn-outline-primary btn-sm" hidden><i class="fa fa-save"></i>&nbsp; Update</button>
                    }
                    @if (IsGranted(PermissionNames.Pages_Quotations_Submit))
                    {
                        <div id="ActionButton" class="btn-group" role="group" hidden>
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a id="ReviseButton" class="dropdown-item text-danger" href="#"><i class="fa fa-edit"></i>&nbsp;&nbsp;Revise</a>
                                <a id="ForOrderButton" class="dropdown-item text-info" href="#"><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;For Order</a>
                            </div>
                        </div>
                        <button id="SubmitButton" class="btn btn-outline-success btn-sm" hidden><i class="fa fa-save"></i>&nbsp; Submit</button>
                        @*<button id="ReviseButton" class="btn btn-outline-danger btn-sm" hidden><i class="fa fa-edit"></i>&nbsp; Revise</button>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <form id="QuotationForm" name="QuotationForm" enctype="multipart/form-data" role="form" novalidate class="form-validation">
            <div class="row clearfix">
                <div class="col-md-12  col-xl-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="Product">Series</label>
                                        <div class="input-group">
                                            <input id="Id" type="hidden" value="@ViewBag.Id" name="Id">
                                            <input id="RefNo" class="form-control font-weight-bold" disabled type="text" name="RefNo" required>
                                            <input id="Code" type="hidden" name="Code">
                                            <input id="Series" type="hidden" name="SeriesTypeId">
                                            <input id="StatusId" type="hidden" name="StatusId">
                                            <input id="QuotationCode" type="hidden" name="QuotationCode">
                                            <input id="RevisionNo" type="hidden" name="RevisionNo">
                                            <input id="Prefix" type="hidden" name="Prefix">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="Product">Company</label>
                                        <div class="input-group">
                                            <select name="CompanyId" id="Companies" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                            <label id="CompanyAddress" style="display: none;" class="hidden">
                                                Office Address: G/F Warehouse C/M<br />
                                                Greenfield Industrial Complex, Km. 14 Merville Road,<br />
                                                Merville Industrial Complex, Paranaque City<br />
                                                Tel: +63(2)776-1684 Fax: +63(2)776-1684
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label>Request</label>
                                        <input type="hidden" id="PrevRequestId" name="PrevRequestId">
                                        <input type="hidden" id="RequestId" name="RequestId">
                                        <input type="hidden" id="Request" name="Request">
                                        <input type="text" id="RequestCode" name="RequestCode" class="form-control" placeholder="Type here">
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="input-group date" data-provide="datepicker">
                                            <input type="text" id="TransactionTime" name="TransactionTime" class="form-control date-picker" required>
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="txtClient">Client Name/Company Name</label>
                                        <input id="ClientId" type="hidden" name="ClientId" required>
                                        <input id="ClientName" class="form-control" type="text" name="Client" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="txtClient">Contact Person</label>
                                        <input id="ContactPersonId" type="hidden" name="ContactPersonId" required>
                                        <input id="ContactPerson" class="form-control" type="text" name="ContactPerson" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="txtClient">Project</label>
                                        <input id="Project" class="form-control" type="text" name="Project" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="ddOrderType">Order Type</label>
                                        <select name="OrderTypeId" id="OrderTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="txtClient">Account Executive</label>
                                        <input id="ClientTelephone" type="hidden" name="ClientTelephone" required>
                                        <input id="SalesAgentId" type="hidden" name="SalesAgentId" required>
                                        <input id="SalesAgent" class="form-control" type="text" name="SalesAgent" placeholder="Type here" required>
                                        <input id="SalesAgentMobile" class="form-control" type="hidden" name="SalesAgentMobile" required>
                                        <input id="SalesAgentEmail" class="form-control" type="hidden" name="SalesAgentEmail" required>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label for="ddPriceType">Price Type</label>
                                        <select name="PricingTypeId" id="PricingTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-xl-12">
                    <div class="card" id="accordion">
                        <div class="card-header">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file">
                                </span>Address and Contact
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6  col-xl-6">
                                        <input id="ClientEmail" type="hidden" name="ClientEmail" class="form-control" readonly hidden>
                                        <div class="form-group">
                                            <label>Delivery Address</label>
                                            <textarea id="DeliveryAddress" name="DeliveryAddress" rows="5" class="form-control" readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6  col-xl-6">
                                        <div class="form-group">
                                            <label for="ddPriceType">Billing Address</label>
                                            <textarea id="ClientAddress" name="ClientAddress" rows="5" class="form-control" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12  col-xl-12">
                                        <div class="form-group">
                                            <textarea id="Notes" name="Notes" class="form-control" rows="3" placeholder="Notes" maxlength="328"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12  col-xl-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col-md-12  col-xl-12">
                                    <div class="form-group">
                                        <div id="html-table" style="display: none;"></div>
                                        <table id="ItemsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th width="5%">#</th>@*0*@
                                                    <th width="35%">Item</th>@*1*@
                                                    <th width="15%">Quantity</th>@*2*@
                                                    <th width="15%">Price</th>@*3 Price*@
                                                    <th width="10%">Less</th>@*4 DiscTotal*@
                                                    <th width="15%">Total</th>@*5 Total*@
                                                    <th width="5%"></th>@*6 Action*@
                                                    <th></th>@*7 ProductId*@
                                                    <th></th>@*8 Description*@
                                                    <th></th>@*9 OrderQty*@
                                                    <th></th>@*10 UnitId*@
                                                    <th></th>@*11 Disc1*@
                                                    <th></th>@*12 DiscType1*@
                                                    <th></th>@*13 Disc2*@
                                                    <th></th>@*14 DiscType2*@
                                                    <th></th>@*15 Disc3*@
                                                    <th></th>@*16 DiscType3*@
                                                    <th></th>@*17 Id*@
                                                    <th></th>@*18 GroupName*@
                                                    <th></th>@*19 Reference*@
                                                </tr>
                                            </thead>
                                        </table>

                                        <div id="divTable" hidden>
                                            <table id="ItemsTablePrint" class="display table dt-responsive nowrap" style="width: 100%; font-size:12px;">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">MODEL</th>@*1*@
                                                        <th width="30%">DESCRIPTION</th>@*1*@
                                                        <th width="10%">QTY</th>@*2*@
                                                        <th width="20%">NET COST</th>@*3 Price*@
                                                        <th width="20%">TOTAL</th>@*5 Total*@
                                                    </tr>
                                                </thead>
                                            </table>
                                            <table id="ItemsTablePrintActual" class="display table dt-responsive nowrap" style="width: 100%; font-size:12px;">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">MODEL</th>@*1*@
                                                        <th width="30%">DESCRIPTION</th>@*1*@
                                                        <th width="10%">QTY</th>@*2*@
                                                        <th width="20%">UNITPRICE</th>@*3 Price*@
                                                        <th width="20%">TOTAL</th>@*5 Total*@
                                                    </tr>
                                                </thead>
                                            </table>
                                            <table id="ItemsTableDeleted" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">#</th>@*0*@
                                                        <th width="35%">Item</th>@*1*@
                                                        <th width="15%">Quantity</th>@*2*@
                                                        <th width="15%">Price</th>@*3 Price*@
                                                        <th width="10%">LESS</th>@*4 DiscTotal*@
                                                        <th width="15%">Total</th>@*5 Total*@
                                                        <th width="5%"></th>@*6 Action*@
                                                        <th></th>@*7 ProductId*@
                                                        <th></th>@*8 Description*@
                                                        <th></th>@*9 OrderQty*@
                                                        <th></th>@*10 UnitId*@
                                                        <th></th>@*11 Disc1*@
                                                        <th></th>@*12 DiscType1*@
                                                        <th></th>@*13 Disc2*@
                                                        <th></th>@*14 DiscType2*@
                                                        <th></th>@*15 Disc3*@
                                                        <th></th>@*16 DiscType3*@
                                                        <th></th>@*17 Id*@
                                                        <th></th>@*18 GroupName*@
                                                        <th></th>@*19 Reference*@
                                                    </tr>
                                                </thead>
                                            </table>

                                            @*display table table-bordered dt-responsive nowrap*@
                                            <table id="ChargesTableDeleted" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">#</th>@*0*@
                                                        <th width="50%">Type</th>@*1*@
                                                        <th width="20%">Rate</th>@*2*@
                                                        <th width="20%">Amount</th>@*3 Price*@
                                                        <th width="20%">Total</th>@*4 Total*@
                                                        <th width="5%"></th>@*5 Total*@
                                                        <th></th>@*6 ChargeTypeId*@
                                                        <th></th>@*7 Id*@
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-12">
                                <div class="card border border-success" id="accordion">
                                    <div class="card-header">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Add Item
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input id="ProductId" type="hidden">
                                                        <input id="ProductName" type="text" class="form-control" placeholder="Type here">
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label>Code</label>
                                                        <input id="ProductCode" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="row">
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="form-group">
                                                                <label>Quantity</label>
                                                                <input id="Quantity" type="text" name="Quantity" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="form-group">
                                                                <label>Stocks</label>
                                                                <input id="Stocks" type="text" class="form-control" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="row">
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="form-group">
                                                                <label>Unit</label>
                                                                <select id="Units" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6  col-xl-6">

                                                            <div class="form-group">
                                                                <label>Price</label>
                                                                <input id="Price" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">

                                                    <div class="card" id="accordion">
                                                        <div class="card-header">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                                Add Discount
                                                            </a>
                                                        </div>
                                                        <div id="collapseThree" class="panel-collapse collapse in">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Discount</label>
                                                                            <input id="Discount1" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Type</label>
                                                                            <select id="DiscountType1" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                <option value=2>Percent</option>
                                                                                <option value=1>Value</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Discount</label>
                                                                            <input id="Discount2" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Type</label>
                                                                            <select id="DiscountType2" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                <option value=2>Percent</option>
                                                                                <option value=1>Value</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Discount</label>
                                                                            <input id="Discount3" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Type</label>
                                                                            <select id="DiscountType3" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                <option value=2>Percent</option>
                                                                                <option value=1>Value</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea id="PerDescription" class="form-control" rows="5" maxlength="328"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label>Group Name</label>
                                                        <input id="GroupName" type="text" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <img id="ProductImage" src="" class="img-fluid img-thumbnail" style="margin-top:25px" alt="your image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group  text-right">
                                                        <button id="AddItemButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12  col-xl-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="row form-group">
                                        <div class="col-md-3 col-xl-3 text-left" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label">Payment Term</label>
                                        </div>
                                        <div class="col-md-8 col-xl-8">
                                            <select name="PaymentTermId" id="PaymentTerms" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                        <div class="col-md-1 col-xl-1 text-left">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3 col-xl-3 text-left" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label">Delivery Type</label>
                                        </div>
                                        <div class="col-md-8 col-xl-8">
                                            <select name="DeliveryTypeId" id="DeliveryTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                        <div class="col-md-1 col-xl-1 text-left">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3 col-xl-3 text-left" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label">Tax Type</label>
                                        </div>
                                        <div class="col-md-8 col-xl-8">
                                            <select name="TaxTypeId" id="TaxTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                        <div class="col-md-1 col-xl-1 text-left">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3 col-xl-3 text-left" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label">Warranty</label>
                                        </div>
                                        <div class="col-md-8 col-xl-8">
                                            <select name="WarrantyTypeId" id="WarrantyTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                        <div class="col-md-1 col-xl-1 text-left">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Discount</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="DiscountTotal" disabled name="DiscountTotal" class="form-control text-right text-danger" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Net Total</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="NetTotal" disabled name="NetTotal" class="form-control text-right" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Tax</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="Tax" disabled name="Tax" class="form-control text-right" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Total</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="Total" disabled name="Total" class="form-control text-right" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-xl-12">
                    <div class="card" id="accordion">
                        <div class="card-header">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file">
                                </span>Other Charges
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12  col-xl-12">
                                        <div class="form-group">
                                            <table id="ChargesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">#</th>@*0*@
                                                        <th width="50%">Type</th>@*1*@
                                                        <th width="20%">Rate</th>@*2*@
                                                        <th width="20%">Amount</th>@*3 Price*@
                                                        <th width="20%">Total</th>@*4 Total*@
                                                        <th width="5%"></th>@*5 Total*@
                                                        <th></th>@*6 ChargeTypeId*@
                                                        <th></th>@*7 Id*@
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4  col-xl-4">
                                        <div class="form-group">
                                            <label>Type</label>
                                            <select name="ChargeTypeId" id="ChargeTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-xl-4">
                                        <div class="form-group">
                                            <label>Rate</label>
                                            <input id="ChargeRate" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-xl-4">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input id="ChargeAmount" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6  col-xl-6">
                                    </div>
                                    <div class="col-md-6  col-xl-6">

                                        <div class="form-group  text-right">
                                            <button id="AddChargeButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add to Charges</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12  col-xl-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col-md-6  col-xl-6">

                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Other Charges</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="ChargesTotal" disabled name="ChargesTotal" class="form-control text-right font-weight-bold" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xl-6">

                                </div>
                                <div class="col-md-6  col-xl-6">
                                    <div class="row form-group">
                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                            <label for="email-input" class=" form-control-label"><strong>Grand Total</strong></label>
                                        </div>
                                        <div class="col-md-6 col-xl-6">
                                            <input type="text" id="GrandTotal" disabled name="GrandTotal" class="form-control text-right font-weight-bold" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix" hidden>
                <div class="col-md-12 col-xl-12">
                    <div class="card" id="accordion">
                        <div class="card-header">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file">
                                </span>Terms and Conditions
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12  col-xl-12">
                                        <div class="form-group">
                                            <textarea id="TermsAndConditions" name="TermsAndConditions" class="form-control" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-xl-12">
                    <div class="card" id="accordion">
                        <div class="card-header">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file">
                                </span>Files
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row fileupload-buttonbar">
                                    <div class="col-md-8">
                                        <span class="btn btn-primary fileinput-button btn-sm m-r-3 m-b-3">
                                            <i class="fa fa-fw fa-plus"></i>
                                            <span>Add files...</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                        <button type="submit" class="btn btn-default btn-sm m-r-3 m-b-3 start">
                                            <i class="fa fa-fw fa-upload"></i>
                                            <span>Start upload</span>
                                        </button>
                                        <button type="reset" class="btn btn-default btn-sm m-r-3 m-b-3 cancel">
                                            <i class="fa fa-fw fa-ban"></i>
                                            <span>Cancel upload</span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm m-r-3 m-b-3 delete">
                                            <i class="fa fa-fw fa-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                        <div class="checkbox-inline m-t-3 m-l-10">
                                            <input type="checkbox" id="toggle-delete" class="toggle" />
                                            <label for="toggle-delete">Select Files</label>
                                        </div>
                                        <span class="fileupload-process"></span>
                                    </div>
                                    <div class="col-md-4 fileupload-progress fade">
                                        <div class="f-s-10 text-muted m-b-5"><b>PROGRESS:</b></div>
                                        <div class="progress progress-striped progress-sm m-b-0 m-t-0 active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-primary" style="width:0%; min-width: 2em;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="error-msg"></div>
                                <table role="presentation" class="table m-b-0">
                                    <thead>
                                        <tr>
                                            <th style="width:160px">PREVIEW</th>
                                            <th>FILENAME</th>
                                            <th style="width:250px">SIZE</th>
                                            <th style="width:1%">ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody class="files">
                                        <tr class="empty-row">
                                            <td colspan="4" class="text-center p-20">
                                                <div class="text-muted" style="font-size: 36px;"><i class="fa fa-file-archive"></i></div>
                                                No file uploaded
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="ItemEditModal" tabindex="-1" role="dialog" aria-labelledby="ItemEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title text-success">
                    <span>Edit Item # </span><label id="EIndexNo">0</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6  col-xl-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="EProductId" type="hidden">
                            <input id="EProductName" type="text" class="form-control" placeholder="Type here">
                        </div>
                    </div>
                    <div class="col-md-6  col-xl-6">
                        <div class="form-group">
                            <label>Code</label>
                            <input id="EProductCode" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-xl-6">
                        <div class="row">
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input id="EQuantity" type="text" name="Quantity" class="form-control" onkeypress="return decimalOnly(this.id);">
                                </div>
                            </div>
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Stocks</label>
                                    <input id="EStocks" type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  col-xl-6">
                        <div class="row">
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <select id="EUnits" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                </div>
                            </div>
                            <div class="col-md-6  col-xl-6">

                                <div class="form-group">
                                    <label>Price</label>
                                    <input id="EPrice" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-xl-6">

                        <div class="card" id="accordioneditdiscount">
                            <div class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Add Discount
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Discount</label>
                                                <input id="EDiscount1" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                            </div>
                                        </div>
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <select id="EDiscountType1" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                    <option value=2>Percent</option>
                                                    <option value=1>Value</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Discount</label>
                                                <input id="EDiscount2" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                            </div>
                                        </div>
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <select id="EDiscountType2" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                    <option value=2>Percent</option>
                                                    <option value=1>Value</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Discount</label>
                                                <input id="EDiscount3" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                            </div>
                                        </div>
                                        <div class="col-md-6  col-xl-6">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <select id="EDiscountType3" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                    <option value=2>Percent</option>
                                                    <option value=1>Value</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="EPerDescription" class="form-control" rows="5" maxlength="328"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6  col-xl-6">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input id="EGroupName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <img id="EProductImage" src="" class="img-fluid img-thumbnail" style="margin-top:25px" alt="your image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm waves-effect" data-dismiss="modal">@L("Cancel")</button>
                <button id="UpdatetemButton" class="btn btn-outline-success btn-sm">Update</button>
            </div>
        </div>
    </div>
</div>


