﻿@using System.Globalization
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using ezinvmvc
@using ezinvmvc.Web.Resources
@inject ezinvmvc.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" href="~/images/Logo.png">
    <link rel="shortcut icon" href="~/images/Logo.png">
    <title>BCS</title>

    <link href="~/fonts/roboto/roboto.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/fonts/material-icons/materialicons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" /> @*changed*@
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/Waves/dist/waves.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/animate.css/animate.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/cs-skin-elastic.css" rel="stylesheet" asp-append-version="true" />  @*changed*@
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />  @*changed*@

    <link href="~/view-resources/Views/Account/_Layout.css" rel="stylesheet" asp-append-version="true" />

    @*<environment names="Development">

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/_Bundles/account-layout.min.css" asp-append-version="true" />
    </environment>*@
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
</head>
<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-form">
                    @RenderBody()
                </div>
                <div class="row" style="padding-left:15px">
                    <div class="col-xs-12 text-center" style="color: #e9e9e9">
                        <small>&copy; @DateTime.Now.Year BCS. <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/json2/json2.js" asp-append-version="true"></script>

    <script src="~/js/jquery.min.js" asp-append-version="true"></script>@*changed*@
    <script src="~/js/popper.min.js" asp-append-version="true"></script>  @*changed*@
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>  @*changed*@
    <script src="~/js/jquery.matchHeight.min.js" asp-append-version="true"></script>  @*changed*@

    <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
    <script src="~/lib/Waves/dist/waves.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
    @*<script src="~/js/admin.js" asp-append-version="true"></script>*@
    <script src="~/js/main.js" asp-append-version="true"></script>
    @if (CultureInfo.CurrentUICulture.Name != "en")
    {
        <script src="~/lib/jquery-validation/src/localization/messages_@Html.Raw(CultureInfo.CurrentUICulture.Name.Replace("-", "_") + ".js")" asp-append-version="true"></script>
    }

    @*<environment names="Development">
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/account-layout.min.js" asp-append-version="true"></script>
    </environment>*@
    <script>
    // Localizing momentjs
    moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    @WebResourceManager.RenderScripts()
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
