﻿
<div class="col-md-12" style="text-align: center;">
    <a><img src="~/images/Logo.png" style="width:80px;height:80px;text-align:center"></a>
</div>
<h3 class="text-danger" style="text-align: center;">Invalid Email</h3>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <div class="form-group">
            <p style="color: white;">
                An error occurred while processing your request. Please try again later.
            </p>
        </div>
        <a asp-action="Login" value="Back to Login" class="btn btn-primary">Back to Login</a>
    </div>
</div>

<div class="form-group">

</div>
<div style="text-align:center; border-top-style: solid; border-top-width:1px; border-top-color:#ffffff4f; margin-top:30px; padding-top: 20px; color:white;">
    <h5>Presidential Communication Operations Office</h5>
</div>