﻿@using Abp.Authorization.Users
@model ezinvmvc.Web.Models.Account.ForgotPasswordViewModel
<div class="col-md-12" style="text-align: center;">
    <a><img src="~/images/Logo.png" style="width:80px;height:80px;text-align:center"></a>
</div>
<h3 class="text-light" style="text-align: center;">Forgot Password</h3>
<div class="row">
    <div class="col-md-12">
        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @*<input type="text" class="form-control" name="Email" placeholder="@L("Email")" required maxlength="@AbpUserBase.MaxEmailConfirmationCodeLength">*@

                <input asp-for="EmailAddress" class="form-control" placeholder="Email" required maxlength="@AbpUserBase.MaxEmailConfirmationCodeLength">
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>

        <div class="form-group">

        </div>
        <div style="text-align:center; border-top-style: solid; border-top-width:1px; border-top-color:#ffffff4f; margin-top:30px; padding-top: 20px; color:white;">
            <h5>Presidential Communication Operations Office</h5>
        </div>
    </div>
</div>
