﻿@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model ezinvmvc.Web.Models.Account.LoginFormViewModel
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>

}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="body">
    <form id="LoginForm" asp-action="Login" method="post">
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <input type="hidden" name="returnUrlHash" />
        <div class="text-center" style="padding-bottom:10px">
            <a><img src="~/images/Logo.png" style="width:80px;height:80px;text-align:center" /></a>
        </div>
        <h5 class="text-center">COMMUNICATION SERVICE MANAGEMENT INFORMATION SYSTEM</h5>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="material-icons">verified_user</i></span>
            </div>
            <input type="text" class="form-control" name="usernameOrEmailAddress" placeholder="Username" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="material-icons">lock</i></span>
            </div>
            <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
        </div>
        <div class="form-group">

            <div class="col-xs-4">
                <button id="LoginButton" type="submit" class="btn btn-danger btn-small">Log in</button>
            </div>
            <div class="col-xs-8" style="text-align: center; font-size: small; padding-top: 10px;">
                <a asp-action="ForgotPassword">Forgot Password?</a>
                @*<input type="checkbox" name="RememberMe" id="rememberme" class="filled-in chk-col-pink" value="true">&nbsp;
                <label for="rememberme">@L("RememberMe")</label>*@
            </div>
        </div>


        <div class="form-group">

        </div>
        <div style="text-align:center; border-top-style: solid; border-top-width:1px; border-top-color:#ffffff4f; margin-top:30px; padding-top: 20px; color:white;">
            <h5>Presidential Communication Operations Office</h5>
        </div>
    </form>
</div>
