﻿
@model ezinvmvc.Web.Models.Account.ResetPasswordViewModel

<style>
    /* Style all input fields */
  

    /* Style the container for inputs */
    .container {
        /*background-color: #f1f1f1;*/
        padding: 20px;
    }

    /* The message box is shown when the user clicks on the password field */
    #message {
        display: none;
        /*background: #f1f1f1;*/
        color: #000;
        position: relative;
        padding: 30px;
        /*margin-top: 10px;*/
    }

        #message p {
            /*padding: 10px 35px;*/
            /*font-size: 18px;*/
        }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }

        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
</style>

<div class="col-md-12" style="text-align: center;">
    <a><img src="~/images/Logo.png" style="width:80px;height:80px;text-align:center"></a>
</div>
<h3 class="text-light" style="text-align: center;">Reset Password</h3><br>
<form asp-action="ResetPassword" method="post">
    <div class="form-group">
        <label asp-for="Password" style="color: white;"></label>
        <input asp-for="Password" class="form-control" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="Password" id="Password" required onkeyup="checkPass2(); return false;"/>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" style="color: white;">Confirm Password</label>
        <input asp-for="ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control" required onkeyup="checkPass(); return false;" />
    </div>
    <input type="hidden" asp-for="EmailAddress" class="form-control" />
    <input type="hidden" asp-for="Token" class="form-control" />
    <button class="btn btn-primary" type="submit" id="Submit">Submit</button>
    <br>
    <div class="form-group" id="message">
            <h5>Password must contain the following:</h5>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>
</form>

<div style="text-align:center; border-top-style: solid; border-top-width:1px; border-top-color:#ffffff4f; margin-top:30px; padding-top: 20px; color:white;">
    <h5>Presidential Communication Operations Office</h5>
</div>

<script>
    function checkPass()
    {
        var Password = document.getElementById('Password');
        var Confirm_Password = document.getElementById('ConfirmPassword');
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        if (Password.value == Confirm_Password.value)
        {
            Confirm_Password.style.backgroundColor = goodColor;
            document.getElementById("Submit").removeAttribute("disabled");
        }
        else
        {
            Confirm_Password.style.backgroundColor = badColor;
            document.getElementById("Submit").setAttribute("disabled", "disabled");
        }
    }
    function checkPass2()
    {
        var Confirm_Password = document.getElementById('ConfirmPassword');
        var noneColor = "#fff";
        document.getElementById("ConfirmPassword").value = "";
        Confirm_Password.style.backgroundColor = noneColor;
    }
     // validation
    var myInput = document.getElementById("Password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }

</script>
