﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Web.Models.EmployeeAttendace

@model EmployeeAttendaceViewModel
@{
    ViewBag.CurrentPageName = PageNames.EmployeeAttendance;
}
@section scripts
    {
        <script src="~/view-resources/Views/EmployeeAttendance/Index.js" asp-append-version="true"></script>
    }
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-md-8 col-xl-8">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Employee Attendance</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="btn-group" role="group" style="width:100% ; padding-top:10px">
                        <button id="Filterbutton" style="width:100%" class="btn btn-outline-info" data-toggle="modal" data-target="#AttList"><i class="fa fa-filter"></i>&nbsp;Attendance Id</button>
                        <button id="EmployeeList" style="width:100%" data-toggle="modal" data-target="#EmployeeListModal" class="btn btn-outline-primary btn-sm"><i class="fa fa-list-ol"></i>&nbsp;Employees</button>
                        <button id="AttRecordButton" class="btn btn-outline-info" data-toggle="modal" data-target="#AttRecord"><i class="fa fa-question-circle fa-lg color-red"></i>&nbsp;REC</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                            <form name="Attid" role="form" novalidate class="form-validation">
                                <div class="row">

                                    <div class="col-md-3 col-xl-3">
                                        <label for="TimeIn">Att Id</label>
                                        <input id="attid" name="attid" type="text" class="form-control color-red" readonly required maxlength="128" placeholder="Select Att Id">
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="completeName">Start</label>
                                        <input id="DateRecStart" name="DateRecStart" type="text" class="input-md form-control-md form-control color-red" value="1900-01-01" placeholder="Date" readonly>
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="completeName">End</label>
                                        <input id="DateRecEnd" name="DateRecEnd" type="text" class="input-md form-control-md form-control color-red" value="1900-01-01" placeholder="Date" readonly>
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="NoHours">Working&nbsp;Hrs</label>
                                        <input id="NoHours" name="NoHours" type="text" class="form-control color-red" readonly maxlength="128">
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="completeName">Code</label>
                                        <input id="EmpCode" name="EmpCode" type="text" class="form-control color-red" readonly required maxlength="128">
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="completeName">Name</label>
                                        <input id="completeName" name="completeName" type="text" class="form-control color-red" readonly required maxlength="128" placeholder="Select Employee">
                                        <input id="EmpId" name="EmpId" type="hidden" class="form-control" required maxlength="128" value="0">
                                    </div>
                                    <div class="col-md-3 col-xl-3 ">
                                        <label for="TimeIn">In</label>
                                        <input id="TimeIn" name="TimeIn" type="text" class="form-control color-red" readonly required maxlength="128">
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="TimeIOut">Out</label>
                                        <input id="TimeIOut" name="TimeIOut" type="text" class="form-control color-red" readonly required maxlength="128">
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="MinLate">Min&nbsp;Late</label>
                                        <input id="MinLate" name="MinLate" type="text" class="form-control" readonly maxlength="128">
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="completeName">O.T.&nbsp;Lmt</label>
                                        <input id="OTNoHours" name="OTNoHours" type="text" class="form-control" readonly maxlength="128">
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <label for="StrickOvertime">Allowed O.T.</label>
                                        <select id="StrickOvertime" name="StrickOvertime" class="selectpicker form-control" tabindex="-1">
                                            <option></option>
                                            <option value="true" selected>Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-xl-2">
                                        <label for="FlexiTime">Flexitime</label>
                                        <select id="FlexiTime" name="FlexiTime" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                            <option></option>
                                            <option value="true" selected>Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 col-xl-1">
                                        <div class="text-right" style="padding-top:28px"></div>
                                        <button id="BtnLoadRecord" style="width:100%" class="btn btn-outline-primary">LOAD</button>

                                    </div>

                                </div>
                            </form>
                            <form name="AttidDetails" role="form" novalidate class="form-validation">
                                <table id="Attntable" class="table table-striped table-bordered table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>AttId</th>
                                            <th>Days</th>
                                            <th>Date</th>
                                            <th>DateIn</th>
                                            <th>In</th>
                                            <th>Out</th>
                                            <th>Hours</th>
                                            <th>Late</th>
                                            <th>uTime</th>
                                            <th>OT</th>
                                            <th>Holiday/Leave</th>
                                            <th>EnTitle</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="row">
                                    <div class="col-md-10 col-xl-10"></div>
                                    <div class="col-md-2 col-xl-2">
                                        <div class="text-right">
                                            <div class="btn-group" role="group" style="width:100%">
                                                <button id="SaveAttbutton" style="width:100%" class="btn btn-outline-primary"><i class="fa fa-save"></i>&nbsp;Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AttRecord" tabindex="-1" role="dialog" aria-labelledby="AttRecordSettingsLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-xl-12">
                        <table id="exceltable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Company</th>
                                    <th>Name</th>
                                    <th>No</th>
                                    <th>Date</th>
                                    <th>LocId</th>
                                    <th>IdNumber</th>
                                    <th>VeryfyCode</th>
                                    <th>CardNo</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EmployeeListModal" tabindex="-1" role="dialog" aria-labelledby="EmployeeListModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Employee List</span>
                    </h4>
                </div>

                <form name="FormAttEmp" role="form" novalidate class="form-validation">
                    <div class="modal-body">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-md-4 col-xl-4">
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="form-group">
                                    <select name="SearchBy" id="SearchBy" class="selectpicker form-control">
                                        <option value=0>-- Search By --</option>
                                        <option value="CompleteName">Full Name</option>
                                        <option value="Department">Department</option>
                                        <option value="Division">Division</option>
                                        <option value="Sectors">Sectors</option>
                                        <option value="Position">Position</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="EmployeeTableFilter" class="form-control m-input" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <button id="GetEmployeeButton" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @* List *@
                            <div class="col-md-12 col-xl-12">
                                <table id="EmployeesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Employee ID</th>
                                            <th>Full Name</th>
                                            <th>Cell No</th>
                                            <th>Department</th>
                                            <th>Position</th>
                                            <th>Status</th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-label="@L("Closed")"></i>&nbsp;Closed</button>
                    </div>
                    </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AttList" tabindex="-1" role="dialog" aria-labelledby="AttListLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">
                        <span>Attendance List</span>
                    </h6>
                </div>
                <form name="FormAtt" role="form" novalidate class="form-validation">
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">
                            <table id="AttendanceTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th width="40%">Date</th>
                                        <th width="20%">Attendance&nbsp;Id</th>
                                        <th width="20%">Company</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Closed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

