﻿@using ezinvmvc.Web.Models.Common.Modals
@model ezinvmvc.Web.Models.Addresses.ProvinceCreateModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Create Province"))
<div class="modal-body">
    <form name="ProvinceCreateForm" role="form" novalidate class="form-validation">
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Country</label>
                        <select name="CountryId" id="CountryId" class="selectpicker form-control" tabindex="-1" data-live-search="true" required>
                            <option value="0">-- Select --</option>
                            @foreach (var item in Model.Countries)
                            {
                                if (item.IsDefault)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                        <span id="errProvCoun" class="error" style="display:none">This field is required.</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                &nbsp;
            </div>
        </div>
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Code</label>
                        <input class="form-control" type="text" id="Code" name="Code" required maxlength="64" minlength="2">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Name</label>
                        <input class="form-control" type="text" id="Name" name="Name" required maxlength="64" minlength="2">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
<script src="~/view-resources/Views/Addresses/_CreateProvinceModal.js" asp-append-version="true"></script>



