﻿@using ezinvmvc.Web.Models.Common.Modals
@model ezinvmvc.Web.Models.Addresses.CountryCreateModel
@{
    Layout = null;
}
<script src="~/view-resources/Views/Addresses/_CreateCountryModal.js" asp-append-version="true"></script>
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Create Country"))
<div class="modal-body">
    <form name="CountryCreateForm" role="form" novalidate class="form-validation">
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Code</label>
                        <input class="form-control" type="text" id="Code" name="Code" required maxlength="64" minlength="2">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Name</label>
                        <input class="form-control" type="text" id="Name" name="Name" required maxlength="64" minlength="2">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")


