﻿@using ezinvmvc.Web.Models.Common.Modals
@model ezinvmvc.Web.Models.Leads.LeadUpdateCreateModel
@{
    Layout = null;
}
<style type="text/css">
    .ui-autocomplete {
        z-index: 2147483647;
    }
</style>
<script src="~/view-resources/Views/Leads/_CreateSingleLeadUpdateModal.js" asp-append-version="true"></script>
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Create Lead Update"))
<div class="modal-body">
    <form name="LeadUpdateCreateForm" role="form" novalidate class="form-validation">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Ref. No</label>
                        <input type="hidden" id="LeadId" name="LeadId" value="@Model.Lead.Id" />
                        <input type="text" name="LeadCode" id="LeadCode" class="form-control" tabindex="-1" value="@Model.Lead.Code" readonly />
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Name</label>
                        <input class="form-control" type="text" id="LeadName" name="LeadName" tabindex="-1" value="@Model.Lead.Name" readonly>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Project</label>
                        <input class="form-control" type="text" id="LeadProject" name="LeadProject" tabindex="-1" value="@Model.Lead.Project" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="form-label">Date</label>
                                <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                                    <input class="form-control datetimepicker-input" type="text" id="LeadUpdateDate" name="LeadUpdateDate" value="@System.DateTime.Now.ToString("MM/dd/yyyy")" data-target="#datetimepicker7">
                                    <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <span id="errDate" class="error" style="display:none">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="Lead">Task</label>
                        <select id="LeadTaskId" name="LeadTaskId" class="selectpicker form-control">
                            <option value=0>-- Select --</option>
                            @foreach (var item in Model.Tasks)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="Lead">Notes</label>
                            <textarea id="Notes" name="Notes" maxlength="328" class="validate form-control" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Lead">Assigned To</label>
                            <input id="AssignedToId" type="hidden" name="AssignedToId" />
                            <input id="AssignedTo" class="validate form-control" type="text" name="AssignedTo" required maxlength="128">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Lead">Assigned Email</label>
                            <input id="AssignedToEmail" class="validate form-control" type="text" name="AssignedToEmail">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Lead">Next Contact Date</label>
                            <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                                <input id="NextContactDateTime" class="form-control datetimepicker-input" placeholder="mm/dd/yyyy hh:mm tt" type="text" name="NextContactDateTime" data-toggle="datetimepicker" data-target="#datetimepicker8" value='@System.DateTime.Now.AddDays(1).ToString("MM/dd/yyyy hh:mm tt")'>
                                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <span id="errNDate" class="error" style="display:none">This field is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                </div>
                <div class="row" hidden>
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="form-group">
                            <button id="AddLeadUpdateButton" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")