﻿@using Abp.Application.Services.Dto
@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.Leads
@using ezinvmvc.App.Leads

@model LeadEditModel
@{
    ViewBag.CurrentPageName = PageNames.Leads_Edit;
}
@section scripts
    {
    <script src="~/view-resources/Views/Leads/Edit.js" asp-append-version="true"></script>
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <input type="text" id="h1" value="@Model.EmpId" hidden>
                    <div class="page-title">
                        <h1>
                            Edit Lead
                            <span id="StatusBadge">@Model.Lead.Status</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                    @if (IsGranted(PermissionNames.CRM_Leads_Edit))
                    {
                        //if (Model.Lead.StatusId == 1)
                        //{
                            <button id="SaveLeadButton" class="btn btn-outline-primary btn-sm" hidden><i class="fa fa-save"></i>&nbsp; Save</button>
                        //}
                    }
                    @if (IsGranted(PermissionNames.CRM_Leads_Approve))
                    {
                        //if (Model.Lead.StatusId == 1)
                        //{
                            <button id="ApproveButton" class="btn btn-outline-success btn-sm" hidden><i class="fa fa-check"></i>&nbsp; Approve</button>
                            <button id="DisapproveButton" class="btn btn-outline-danger btn-sm" hidden><i class="fa fa-window-close"></i>&nbsp; Disapprove</button>
                        //}
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-block">
                        <form id="LeadForm" name="LeadForm" enctype="multipart/form-data" role="form" novalidate class="form-validation">
                            <div class="row">
                                <div class="col-md-4 col-xl-4">
                                    <div class="form-group">
                                        <label for="Lead">Ref. No.</label>
                                        <input id="Id" type="hidden" name="Id" value="@Model.Lead.Id">
                                        <input type="hidden" id="CompanyId" name="CompanyId" value="@Model.Lead.CompanyId" />
                                        <input type="hidden" id="SeriesTypeId" name="SeriesTypeId" value="@Model.Lead.SeriesTypeId" />
                                        <input type="hidden" id="Prefix" name="Prefix" value="@Model.Lead.Prefix" />
                                        <input type="hidden" id="Code" name="Code" value="@Model.Lead.Code" />
                                        <input type="hidden" id="StatusId" name="StatusId" value="@Model.Lead.StatusId" />
                                        <input id="Name" type="hidden" name="Name" value="@Model.Lead.Name" />
                                        <input id="iCode" class="form-control" type="text" name="iCode" value="@Model.Lead.Code" readonly maxlength="128">
                                    </div>
                                </div>
                                <div class="col-md-4  col-xl-4">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest" disabled>
                                            <input id="LeadDate" class="form-control datetimepicker-input" placeholder="mm/dd/yyyy" type="text" name="LeadDate" data-target="#datetimepicker2" value='@Model.Lead.LeadDate.ToString("MM/dd/yyyy")' disabled>
                                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        <span id="errDate" class="error" style="display:none">This field is required.</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xl-4" style="display:none">&nbsp;</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-xl-4 " style="display:none">
                                    <div class="form-group">
                                        <label for="Lead">Type</label>
                                        <select id="LeadType" name="LeadType" class="selectpicker form-control">
                                            @*@if (Model.Lead.LeadType == null)
                        {
                            <option selected>New</option>
                            <option>Client</option>
                        }
                        else if (Model.Lead.LeadType.ToUpper() == "NEW".ToUpper())
                        {
                            <option selected>New</option>
                            <option>Client</option>
                        }
                        else if (Model.Lead.LeadType.ToUpper() == "CLIENT".ToUpper())
                        {
                            <option>New</option>
                            <option selected>Client</option>
                        }*@
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-7 col-xl-7 ">
                                    <div class="form-group">
                                        <label for="Lead">Client</label>
                                        <input id="ClientId" type="hidden" name="ClientId" value="@Model.Lead.ClientId" />
                                        <input id="ClientName" class="validate form-control" type="text" name="ClientName" value="@Model.Lead.Name" disabled maxlength="256">
                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-5 ">
                                    <div class="form-group">
                                        <label for="Lead">Contact Person</label>
                                        <input id="ContactPersonId" type="hidden" name="ContactPersonId" value="@Model.Lead.ContactPersonId" />
                                        <input id="ContactPerson" class="validate form-control" type="text" name="ContactPerson" value="@Model.Lead.ContactPerson" required maxlength="256">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-xl-4">
                                    <label for="Lead">Tel. No</label>
                                    <input id="TelNo" class="form-control" type="text" name="TelNo" value="@Model.Lead.TelNo" readonly>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <label for="Lead">Fax No.</label>
                                    <input id="FaxNo" class="form-control" type="text" name="FaxNo" value="@Model.Lead.FaxNo" readonly>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <label for="Lead">Mobile No.</label>
                                    <input id="MobileNo" class="form-control" type="text" name="MobileNo" value="@Model.Lead.MobileNo" readonly>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <label for="Lead">Email</label>
                                    <input id="Email" class="form-control" type="email" name="Email" value="@Model.Lead.Email" readonly>
                                </div>
                                <div class="col-md-6 col-xl-6 ">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-xl-12 ">
                                    <div class="form-group">
                                        <label for="Lead">Address</label>
                                        <textarea id="Address" name="Address" maxlength="328" class="form-control" asp-for="@Model.Lead.Address" readonly></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 col-xl-8 ">
                                    <div class="form-group">
                                        <label for="Lead">Project</label>
                                        <input id="Project" class="validate form-control" type="text" name="Project" value="@Model.Lead.Project" required maxlength="128">
                                    </div>
                                </div>
                                <div class="col-md-4 col-xl-4 ">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-xl-6">
                                    <label for="Lead">Source</label>
                                    <select id="LeadSourceId" name="LeadSourceId" class="form-control" hidden>
                                        <option value=0>-- Select --</option>
                                        @foreach (var item in Model.Sources)
                                        {
                                            if (item.Id == Model.Lead.LeadSourceId)
                                            {
                                                <option selected value="@item.Id">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <input type="text" value="@Model.Lead.LeadSource" class="form-control" readonly />
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-4 col-xl-4 ">
                                    <div class="form-group">
                                        <label for="Lead">Country</label>
                                        <div class="input-group">
                                            <select name="CountryId" id="lbCountries" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                <option value=0>-- Select --</option>
                                                @*@foreach (var item in Model.Countries)
                            {
                                if (item.Id == Model.Lead.CountryId)
                                {
                                    <option selected value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }*@
                                            </select>
                                            <span class="input-group-btn">
                                                <button id="CreateCountryButton" type="button" class="btn btn-default" data-toggle="modal" data-target="#CountryCreateModal">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xl-4 ">
                                    <div class="form-group">
                                        <label for="Lead">Province</label><div class="input-group">
                                            <select name="ProvinceId" id="lbProvinces" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                <option value=0>-- Select Country --</option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button id="CreateProvinceButton" type="button" class="btn btn-default" data-toggle="modal" data-target="#ProvinceCreateModal">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xl-4 ">
                                    <div class="form-group">
                                        <label for="Lead">City</label>
                                        <div class="input-group">
                                            <select name="CityId" id="lbCities" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                <option value=0>-- Select Province --</option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button id="CreateCityButton" type="button" class="btn btn-default" data-toggle="modal" data-target="#CityCreateModal">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-6 col-xl-6">
                                    <label for="Lead">Market Segmentation</label>
                                    <select id="IndustryId" name="IndustryId" class="selectpicker form-control">
                                        <option value=0>-- Select --</option>
                                        @*@foreach (var item in Model.Industries)
                    {
                        if (item.Id == Model.Lead.IndustryId)
                        {
                            <option selected value="@item.Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }*@
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-6 col-xl-6">
                                    <label for="Lead">Task</label>
                                    <select id="LeadTaskId" name="LeadTaskId" class="selectpicker form-control">
                                        <option value=0>-- Select --</option>
                                        @foreach (var item in Model.Tasks)
                                        {
                                            if (item.Id == Model.Lead.LeadTaskId)
                                            {
                                                <option selected value="@item.Id">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-12 col-xl-12 ">
                                    <div class="form-group">
                                        <label for="Lead">Notes</label>
                                        <textarea id="Notes" name="Notes" maxlength="328" class="validate form-control" asp-for="@Model.Lead.Notes"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-6 col-xl-6" style="display:none">
                                    <div class="form-group">
                                        <label for="Lead">Assigned To</label>
                                        @*<select id="AssignedToId" name="AssignedToId" class="selectpicker form-control">
                                            <option value=0>-- Select --</option>
                                            @foreach (var item in Model.Users)
                                            {
                                                if (item.Id == Model.Lead.AssignedToId)
                                                {
                                                    <option selected value="@item.Id">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                        <select id="AssignedToIdEmail" name="AssignedToIdEmail" style="display:none">
                                            <option value=0>-- Select --</option>
                                            @foreach (var item in Model.Users)
                                            {
                                                if (item.Id == Model.Lead.AssignedToId)
                                                {
                                                    <option selected value="@item.Id">@item.Email</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Email</option>
                                                }
                                            }
                                        </select>*@
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="Lead">Assigned To</label>
                                        <input id="AssignedToId" type="hidden" name="AssignedToId" value="@Model.Lead.AssignedToId" />
                                        <input id="AssignedTo" class="validate form-control" type="text" name="AssignedTo" value="@Model.Lead.AssignedTo" required maxlength="128">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="Lead">Assigned Email</label>
                                        <input id="AssignedToEmail" class="validate form-control" type="text" name="AssignedToEmail" value="@Model.Lead.AssignedToEmail">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="Lead">Next Contact Date</label>
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input id="NextContactDateTime" class="form-control datetimepicker-input" placeholder="mm/dd/yyyy hh:mm tt" type="text" name="NextContactDateTime" data-toggle="datetimepicker" data-target="#datetimepicker1" value="@Convert.ToDateTime(Model.Lead.NextContactDateTime).ToString("MM/dd/yyyy hh:mm tt")">
                                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-4 col-xl-4">
                                    <label for="Lead">Status</label>
                                    <select id="StatusId2" name="StatusId2" class="selectpicker form-control">
                                        <option value="1">Open</option>
                                        <option value="2">Lead</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>