﻿@using ezinvmvc.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.SharedRole;
}
@section scripts
    {
    <script src="~/view-resources/Views/SharedRole/Index.js" asp-append-version="true"></script>
}
    <div class="content">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header" style="font-size:medium; font-weight:500">
                    Shared Role
                </div>
                <div class="card-body">
                    <div class="row" style="margin-top:0px; padding: 0px 15px 0px 0px;">
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" type="text" name="Inputpath" id="Inputpath" title="Path" placeholder="File Name">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" id="btnsearch" type="button" title="Search"><i class="fa fa-lg fa-search"></i></button>
                                </div>
                            </div>
                            <form id="formfile" name="formfile" role="form" novalidate class="form-validation">

                                <input class="form-control"hidden type="text" name="roleId" id="roleId" disabled>
                                <li2 id="row-list" style="margin-top:10px;"></li2>
                            </form>
                        </div>
                        <div class="col-md-4" id="Logos3" style="background-color:#00000024; border-radius: 5px; padding-top: 15px; padding-bottom: 15px;">
                            <img src="~/images/Logo.png" style="text-align:center" />
                        </div>
                        <div class="col-md-4" id="details" style="background-color:#00000024; border-radius: 5px; padding-top: 15px; padding-bottom: 15px;">
                            <form id="Formshareduser" name="Formshareduser" role="form" novalidate class="form-validation">
                                <input class="form-control" hidden type="text" name="fileId" id="fileId" disabled>

                                <div class="user-area2 dropdown float-right2">
                                    <input class="form-control" type="text" name="filename" id="filename" title="Path" placeholder="File Name" disabled>
                                    <a href="#" class="dropdown active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="user-avatar rounded-circle" src="~/images/avatar/user2.png" alt="User Avatar" style="width: 38px; margin-top: -60px; margin-left: 281px;">
                                    </a>

                                    <div class="dropdown-menu" style="background-color: #1d1e21e6;">
                                        <a class="nav-link" href="#" id="btndownload">Download<span class="count bg-primary" style="font-size: 10px;border-radius: 50%; padding: 3px; color: white; margin: 0px 0 0px 13px;"><i class="fa fa-cloud-download"></i></span></a>
                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#ModalComment">Comments</a>
                                    </div>
                                </div>
                                <textarea class="form-control" type="text" name="description" id="description" placeholder="Description" disabled></textarea>

                                <input class="form-control" type="text" name="filepath" id="filepath" disabled>
                                <input class="form-control" type="text" name="date" id="date" placeholder="Date" disabled>
                                <input class="form-control" type="text" name="mb" id="mb" placeholder="size" disabled>
                                <input class="form-control" type="text" name="cat1" id="cat1" placeholder="shared by" disabled>
                                <input class="form-control" hidden type="text" name="userroleid" id="userroleid" placeholder="shared by" disabled>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="UploadFileModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header" style="font-size:medium; font-weight:500">
                    Comments
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body2">
                    <form id="commentform" name="commentform" role="form" novalidate class="form-validation">

                        <div id="comment-list"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="input-group">
                        <textarea id="comments" name="comments" class="form-control" rows="3" placeholder="Type your message"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" title="Enter" id="btnaddcomment" name="btnaddcomment"><i class="fa fa-lg fa-reply-all"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>