﻿
@section scripts
    {
    <script src="~/view-resources/Views/SharedRole/SharedRoleReport.js" asp-append-version="true"></script>
}
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header" style="font-size:medium; font-weight:500">
                Shared Role Reports
            </div>
            <div class="card-body">
                <form class="form-validation" id="notiform2" name="notiform2" role="form" novalidate>
                    <input class="form-control" hidden type="text" name="roleId" id="roleId" title="roleId" placeholder="roleId">
                    <input class="form-control" hidden type="text" name="userid" id="userid" title="userid" placeholder="userid">
                    <input class="form-control" hidden type="text" name="fid" id="fid" title="fid" placeholder="fid">
                </form>
                <div class="row">
                    <div class="col-md-2">
                        <select class="browser-default custom-select" id="SearchOption" name="SearchOption">
                            <option selected value="0">Search Option</option>
                            <option value="1">File Name</option>
                            <option value="2">User Name</option>
                            <option value="3">Date</option>
                            <option value="4">All</option>
                        </select>
                    </div>
                    <div class="col-md-2"><input class="form-control date-picker" type="text" name="datefrom" id="datefrom" title="Path" placeholder="Date from"></div>
                    <div class="col-md-2"><input class="form-control date-picker" type="text" name="dateto" id="dateto" title="Path" placeholder="Date to"></div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" type="text" name="InputUser" id="InputUser" title="User" placeholder="User">
                            <input class="form-control" type="text" name="Inputpath" id="Inputpath" title="Path" placeholder="Filename">
                            <input class="form-control" type="text" hidden name="filepath" id="filepath" disabled>
                            <input class="form-control" type="text" hidden name="filename" id="filename" title="Path" placeholder="File Name" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" title="Search" id="btnSearch" name="btnSearch"><i class="fa fa-lg fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px; padding: 0px 15px 0px 0px;">
                    <div class="col-md-12">
                        <form id="formTable" name="formTable" role="form" novalidate class="form-validation">
                            <table id="shareRoleTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Image</th>
                                        <th>FileName</th>
                                        <th>Date</th>
                                        <th>Comments</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
