﻿@using Abp.Application.Services.Dto
@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization

@{
    ViewBag.CurrentPageName = PageNames.Stock_Card;
}
@section scripts
    {
    <script src="~/view-resources/Views/StockCard/Index.js" asp-append-version="true"></script>
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Stock Card</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                        <button id="ExportToExcelButton" class="btn btn-outline-success btn-sm"><i class="fa fa-file-excel-o"></i>&nbsp;Export</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card" id="accordion">
                            <div class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Filter
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                <div class="card-body">
                                    <div class="row align-items-center m--margin-bottom-10">
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">From</label>
                                                <input type="text" id="DateFrom" name="DateFrom" class="input-sm form-control-sm form-control date-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">To</label>
                                                <input type="text" id="DateTo" name="DateTo" class="input-sm form-control-sm form-control date-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Warehouse</label>
                                                <select id="Warehouses" class="selectpicker form-control input-sm form-control-sm" multiple data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Transaction Code</label>
                                                <input type="text" id="SearchFilter" class="form-control m-input input-sm form-control-sm" placeholder="Transaction Code" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center m--margin-bottom-10">
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Category</label>
                                                <select id="Categories" class="selectpicker form-control input-sm form-control-sm" multiple data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Brand</label>
                                                <select id="Brands" class="selectpicker form-control input-sm form-control-sm" multiple data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Product Code</label>
                                                <input id="ProductId" type="hidden">
                                                <input id="ProductCode" type="text" class="form-control form-control-sm" placeholder="Product Code">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px;">Product Name</label>
                                                <div class="input-group">
                                                    <input type="text" id="ProductName" class="form-control m-input input-sm form-control-sm" placeholder="Product Name" value="" readonly>
                                                    <span class="input-group-btn">
                                                        <button id="SearchButton" class="btn btn-default btn-sm" type="submit"><i class="fa fa-search" aria-label="@L("Search")"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        @* List *@
                        <div class="row align-items-center">
                            <div class="col-xl-12 overflow-auto">
                                <table id="ListTable" class="display table  table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%; white-space:normal;">
                                    <thead>
                                        <tr>
                                            <th>Date</th> @* 0 *@
                                            <th>Transaction</th> @* 1 *@
                                            <th>Code</th> @* 2 *@
                                            <th>Name</th> @* 3 *@
                                            <th>Category</th> @* 4 *@
                                            <th>Brand</th> @* 5 *@
                                            <th>Warehouse</th> @* 6 *@
                                            <th>Unit</th> @* 7 *@
                                            <th>Qty</th> @* 8 *@
                                            <th>Balance</th> @* 9 *@
                                            <th></th>  @* 10 Product Code *@
                                            <th></th> @* 11 Product Name *@
                                            <th></th> @* 12 Transaction Code *@
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


