﻿body {
    background-image: url(../images/1.png) !important;
    background-image: url(../images/1.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background .3s;

    display: table !important;
    font-family: unset !important;
    /*font-family: Play, sans-serif !important;*/
    font-size: 14px !important;
    width: 100% !important;
}
.right-panel header.header {
    background: #823131a1 !important;
    border-bottom: 1px solid #e8e9ed !important;
    box-shadow: none !important;
    clear: both !important;
    padding: 0 15px !important;
    height: 70px;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0;
    z-index: 999 !important;
}
a:hover, a:focus {
    color: #0186c1 !important;
}
/*a2:hover, a:focus {
    color: #ff0000 !important;
}*/
.right-panel .navbar-header {
    width: 100% !important;
    background-color: #4f55a000 !important;
    padding: 0 1.25em 0 0 !important;
}
#my_camera {
    width: 100%;
    height: 350px;
    border: 1px solid black;
    background-color: black;
}
.dataTables_wrapper table thead {
    font-size: 14px !important;
    font-family: unset !important;
}
.btn, .button {
    font-family: unset !important;
    font-size: 14px !important;
}
.form-control {
    font-size: 14px !important;
}
.table td, .table th {
    padding: 7px;
}
.ui-autocomplete {
    z-index: 2000;
}
.color-blue {
    color: #4800ff;
}
