/**
 * Example Print Preview site
 *
 *	print.css
 *	author: Tim Connell
 */

/* -- Hide screen specific elements -- */
#nav, #header, #left-panel,
#footer .footer-links,
#feature a.prev,
#feature a.next,
a.print-preview {
    display: none;
}


/* -- Typography -- */
body {
    background: #FFF;
    color: #000;
    font-family: Georgia, serif;
    line-height: 1.2;
}

p, table, ul, ol, dl, blockquote, pre, code, form {
    margin: 0 0 1em;
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
    margin: 2em 0 0.5em;
    text-shadow: rgba(0, 0, 0, 0.44) 1px 1px 2px;
}

h1 { font-size: 2em; margin: 2em 0 0.25em; }
h2 { font-size:1.7em; }
h3 { font-size:1.5em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }


/* -- Style site heading -- */
#header strong {
    color: #000;
    display: block;
    font-weight: normal;
    font-size: 3em;
    margin: 0 0 1em;
    padding: 0;
    text-shadow: rgba(0, 0, 0, 0.44) 1px 1px 2px;
}
    

/* -- Add message re print -- */
/*#content:before {
    content: "Thank you for printing this page. Do come back to foo.tld, we are constantly adding new and interesting articles and tutorials. Note: To help the environment we have automatically removed navigaton and other unessessary elements from the page.";
    display: block;
    border: 1px solid #ccc;
    font-style: italic;
    margin: 0 0 1em;
    padding: 8px 10px;
}*/

a:link:after,
a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 80%;
  text-decoration: none;
}


/* -- Accommodate JS driven elements --*/
#feature > div {
    border: none;
    overflow: visible;
    height: auto;
}

    #feature div.items {
        left: auto !important;
        position: relative;
        overflow: visible;
        width: auto;
    }

    #feature div.items div {
        float: none;
        margin: 20px 0;
        position: relative;
    }

/* -- Photo galleries -- */
div.gallery {
    margin: 1em 0;    
    overflow: hidden;
}

    div.gallery div.items div {
        float: left;
        margin-right: 10px;
    }
    
/* -- Footer -- */
#footer {
    border-top: 1px solid #cecece;
    font-size: 0.83em;
    margin: 2em 0 0;
    padding: 1em 0 0;
}

.datatable-img-large {
    height: 100px;
    width: 100px;
    border: 1px solid #D6D6D6;
    padding: 5px 3px;
    border-radius: 2px;
    background: none repeat scroll 0% 0% #FFF;
}



