﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Web.Models.FolderUser
@model FolderUserViewModel
@{
    ViewBag.CurrentPageName = PageNames.FolderUsers;
}
@section scripts
    {
    <script src="~/view-resources/Views/FolderUsers/Index.js" asp-append-version="true"></script>
}
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header" style="font-size:medium; font-weight:500">
                Folder Users
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" disabled name="Inputpath" id="Inputpath" title="Path" placeholder="~/Path/" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" title="back" id="btnback" name="btnback"><i class="fa fa-lg fa-reply-all"></i></button>

                        <button class="btn btn-outline-secondary" type="button" title="Upload" data-toggle="modal" data-target="#UploadFile"><i class="fa fa-lg fa-cloud-upload"></i></button>
                        <button class="btn btn-outline-secondary" type="button" title="New Folder" data-toggle="modal" data-target="#newfolder"><i class="fa fa-lg fa-folder-open-o"></i></button>
                        <a href="@Url.Action("UploadReports", "FolderUsers")" class="btn btn-outline-secondary"><i class="fa fa-lg fa-search"></i></a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px; padding: 0px 15px 0px 0px;">
                    <div class="col-md-8">
                        <form id="formfile" name="formfile" role="form" novalidate class="form-validation">
                            <li2 id="row-list" style=" text-align: left;"></li2>
                        </form>
                    </div>
                    <div class="col-md-4" id="Logos3" style="background-color:#00000024; border-radius: 5px; padding-top: 15px; padding-bottom: 15px;">
                        <img src="~/images/Logo.png" style="text-align:center" />

                        <input class="form-control" hidden type="text" name="Ipaddress" id="Ipaddress">
                        <input class="form-control" hidden type="text" name="FolderId" id="FolderId" required>
                        <input class="form-control" hidden type="text" name="LastFolderId" id="LastFolderId" value="0" required>
                    </div>
                    <div class="col-md-4" id="Userids2" style="background-color:#00000024; border-radius: 5px; padding-top: 15px; padding-bottom: 15px;">
                        <form id="Formshareduser" name="Formshareduser" role="form" novalidate class="form-validation">
                            <input class="form-control" type="text" name="filename" id="filename" required disabled>
                            <input class="form-control" hidden type="text" name="description" id="description" placeholder="Description">
                            <input class="form-control" hidden type="text" name="filepath2" id="filepath2" required>
                            <input class="form-control" hidden type="text" name="fileId" id="fileId" required>
                        </form>
                        <table id="shareduserTable" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>@L("FileId")</th>
                                    <th>@L("UserId")</th>
                                    <th>Users</th>
                                    <th>RolesId</th>
                                    <th>RoleName</th>
                                    <th>@L("Actions")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-4" id="Roles2" style="background-color:#00000024; border-radius: 5px; padding-top: 15px; padding-bottom: 15px;">
                        <form id="sharerolefile" name="sharerolefile" role="form" novalidate class="form-validation" disabled>
                            <input class="form-control" type="text" name="filename2" id="filename2" required disabled>
                        </form>
                        <table id="sharedroleTable2" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>@L("FileId")</th>
                                    <th>@L("RoleId")</th>
                                    <th>RoleName</th>
                                    <th>@L("Actions")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UploadFile" tabindex="-1" role="dialog" aria-labelledby="UploadFileModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="font-size:medium; font-weight:500">
                Upload File
            </div>
            <div class="modal-body">
                <form id="fileupload" name="fileupload" role="form" enctype="multipart/form-data" multiple novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12" style="padding-bottom:10px"><i style="color:red">Do not use space or any special character on filename!</i></div>
                        <div class="col-sm-12">
                            <div class="sui-upload">
                                <input type="file" id="fileinput" multiple onchange="myFunction()">
                            </div>
                            <p id="demo"></p>
                        </div>

                    </div>
                    <div class="col-sm-12">
                        @*<span id="lblMessage" style="color: Green"></span>*@
                        @*<div class="progressBar" style="height:14px; border-radius:5%"></div>*@
                        <progress id="fileProgress" style="width: 100%;"></progress>
                    </div>
                    <div class="modal-footer">
                        <div class="row" style="height:20px;"></div>
                        <button class="btn btn-outline-warning" id="btnUploadfile"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload</button>
                        <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal" id="btnclose"><i class="fa fa-times"></i>&nbsp;&nbsp;Close</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="font-size:medium; font-weight:500">
                Details
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6"> <div id="details"></div></div>
                    <div class="col-md-6" id="Logos" style="background-color:#00000024; border-radius: 5px; padding-top: 15px; padding-bottom: 15px;">
                        @*<img src="~/images/Logo.png" style="text-align:center; text-align:center; height:250px" />*@
                        <div class="modal-body2">
                            <form id="commentform" name="commentform" role="form" novalidate class="form-validation">
                                <div id="comment-list"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="input-group">
                                <textarea id="comments" name="comments" class="form-control" rows="2" placeholder="Type your message"></textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" title="Enter" id="btnaddcomment" name="btnaddcomment"><i class="fa fa-lg fa-reply-all"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="Userids">

                        <form id="shareuserfile" name="shareuserfile" role="form" novalidate class="form-validation">
                            <input class="form-control" hidden type="text" name="filename" id="filename" required>
                            <input class="form-control" type="text" name="description2" id="description2" placeholder="Description">
                            <input class="form-control" hidden type="text" name="filepath" id="filepath" required>
                            <input class="form-control" hidden type="text" name="fileId" id="fileId" required>
                        </form>
                        <table id="UsersTable" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>@L("Users")</th>
                                    <th>@L("Roles")</th>
                                    <th>RolesId</th>
                                    <th>@L("Actions")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6" id="Roles">
                        <form id="sharerolefile" name="sharerolefile" role="form" novalidate class="form-validation">
                            <input class="form-control" type="text" name="descriptionroles" id="descriptionroles" placeholder="Description">
                        </form>
                        <table id="sharedroleTable" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Roles</th>
                                    <th>@L("Actions")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
                <div class="col-md-12" style="height:10px"></div>
                <div class="col-sm-12" style="text-align:center">
                    <button class="btn btn-outline-success btn-lg" id="btndownload" title="Download" data-dismiss="modal"><i class="fa fa-lg fa-cloud-download"></i></button>  <button class="btn btn-outline-info btn-lg waves-effect" id="btnshare" title="Share to user"><i class="fa fa-lg fa-share-alt-square"></i></button> <button class="btn btn-outline-danger btn-lg waves-effect" id="btnshareroles" title="Share to role"><i class="fa fa-lg fa-users"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newfolder" tabindex="-1" role="dialog" aria-labelledby="newfolderModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="font-size:medium; font-weight:500">
                Create new folder
            </div>
            <div class="modal-body">
                <form id="newfolder" name="newfolder" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12" style="padding-bottom:10px"><i style="color:red">Do not use space or any special character on filename!</i></div>
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="foldername" id="foldername" placeholder="New Folder Name here..." required>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div class="progressBar" style="height:14px; border-radius:5%"></div>
                    <div class="row" style="height:20px;"></div>
                    <button class="btn btn-outline-warning" id="btncreatenewfolder"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Create</button>
                    <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal" id="btnclosenewfolder"><i class="fa fa-times"></i>&nbsp;&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="UploadFileModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="font-size:medium; font-weight:500">
                Comments
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*<div class="modal-body2">
                <form id="commentform" name="commentform" role="form" novalidate class="form-validation">
                    <div id="comment-list"></div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="input-group">
                    <textarea id="comments" name="comments" class="form-control" rows="3" placeholder="Type your message"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" title="Enter" id="btnaddcomment" name="btnaddcomment"><i class="fa fa-lg fa-reply-all"></i></button>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>


