﻿@section scripts
    {
    <script src="~/view-resources/Views/FolderUsers/UploadReports.js" asp-append-version="true"></script>
}
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header" style="font-size:medium; font-weight:500">
                Uploaded
            </div>
            <div class="card-body">
                <input class="form-control" hidden type="text" name="roleId" id="roleId" title="roleId" placeholder="roleId">
                <input class="form-control" hidden type="text" name="userid" id="userid" title="userid" placeholder="userid">
                <div class="row">
                    <div class="col-md-2">
                        <select class="browser-default custom-select" id="SearchOption" name="SearchOption">
                            <option selected value="0">Search Option</option>
                            <option value="1">File Name</option>
                            <option value="2">Date</option>
                            <option value="3">All</option>
                        </select>
                    </div>
                    <div class="col-md-2"><input class="form-control date-picker" type="text" name="datefrom" id="datefrom" title="Path" placeholder="Date from"></div>
                    <div class="col-md-2"><input class="form-control date-picker" type="text" name="dateto" id="dateto" title="Path" placeholder="Date to"></div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" type="text" name="Inputpath" id="Inputpath" title="Path" placeholder="Filename">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" title="Search" id="btnSearch" name="btnSearch"><i class="fa fa-lg fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px; padding: 0px 15px 0px 0px;">
                    <div class="col-md-12">
                        <table id="fileTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>FileName</th>
                                    <th>Description</th>
                                    <th>Path</th>
                                    <th>DateTime</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

