﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Web.Models.Employees

@model EmployeesViewModel
@{
    ViewBag.CurrentPageName = PageNames.Accounts_Ability;
}
@section scripts
{
    <script src="~/view-resources/Views/EmployeesAccountsAbility/IndexAcc.js" asp-append-version="true"></script>
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Accounts Ability</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-xl-4 card border border-info bg-primary2">
                        <table id="EmployeesTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Full&nbsp;Name</th>
                                    <th>@L("Actions")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-8 col-xl-8">
                        <input id="FullName" name="FullName" type="text" disabled class="form-control" placeholder="Employee Name" required maxlength="128">
                        <table id="AccountAbilityTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>P.O.&nbsp;Date</th>
                                    <th>Date&nbsp;Issue</th>
                                    <th>Particulars</th>
                                    <th>Qty</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Id</th>
                                    <th>@L("Actions")</th>
                                </tr>
                            </thead>
                        </table>
                        <form name="AccountAbilityIdForm" role="form" novalidate class="form-validation">
                            <input id="Id" name="Id" type="hidden" class="form-control input-sm">
                        </form>
                        <div class="card border border-info" id="accordion">
                            <div class="card-header">
                                <a data-toggle="collapse" id="Add" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-lg fa-"></i>&nbsp;Add Item</a>
                                <a data-toggle="collapse" id="Update" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-lg fa-"></i>&nbsp;Update Item</a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">

                                <form name="AccountAbilityeCreateForm" role="form" novalidate class="form-validation">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 col-xl-3">
                                                <div class="form-group">
                                                    <label>Purchase Date</label>
                                                    <input id="DatePurchase" type="text" name="DatePurchase" class="form-control input-sm form-control-sm date-picker" required maxlength="128">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xl-3">
                                                <div class="form-group">
                                                    <label>Date Issue</label>
                                                    <input id="DateIssue" type="text" name="DateIssue" class="form-control input-sm form-control-sm date-picker" required maxlength="128">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xl-3">
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input id="Amount" type="text" name="Amount" class="form-control input-sm form-control-sm">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xl-3">
                                                <div class="form-group">
                                                    <label>Quantity</label>
                                                    <input id="Qty" type="text" name="Qty" class="form-control input-sm form-control-sm">
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-xl-7">
                                                <div class="form-group">
                                                    <input id="Particulars" name="Particulars" type="text" class="form-control input-sm form-control-sm" placeholder="Particulars" required maxlength="128">
                                                    <input id="EmpId" name="EmpId" type="hidden" class="form-control input-sm" required maxlength="128">

                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xl-3">
                                                <select id="Status" name="Status" class="selectpicker form-control">
                                                    <option value='Active' Active>Active</option>
                                                    <option value='Cancelled'>Cancelled</option>
                                                    <option value='Returned'>Returned</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-xl-2">
                                                <button id="SaveItemButton" style="width:100%" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Add</button>
                                                <button id="UpdateItemButton" style="width:100%" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

