﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.RFP

@model RFPCreateModel
@{
    //ViewData["Title"] = "RFQ";

    ViewBag.CurrentPageName = PageNames.RFP_Edit;

}
@section scripts
    {
    <script src="~/view-resources/Views/RFP/Edit.js" asp-append-version="true"></script>
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <input type="text" id="h1" value="@Model.EmpId" hidden>
                    
                    <div class="page-title">
                        <h1>Edit RFP</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                    <button id="SaveButton" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-block">
                        <form id="RfpForm" name="RfpForm" enctype="multipart/form-data" role="form" novalidate class="form-validation">
                            <div class="row clearfix">
                                <div class="col-md-12  col-xl-12">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                @*<div class="col-md-6  col-xl-6" style="display:none">*@
                                                <input id="Id" class="form-control font-weight-bold" disabled type="hidden" name="Id" value="@ViewBag.Id" required>
                                                @*</div>*@
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label for="RFQ">Series</label>
                                                        <div class="input-group">
                                                            <input id="Series" type="hidden" name="SeriesTypeId">
                                                            <input id="Prefix" type="hidden" name="Prefix">
                                                            <input id="RefNo" class="form-control font-weight-bold" disabled type="text" name="RefNo" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-6">
                                                    <div class="form-group">
                                                        <label for="RFQ">Company</label>
                                                        <div class="input-group">
                                                            <select name="CompanyId" id="Companies" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">

                                                <div class="col-md-6 col-xl-6">
                                                    <div class="form-group">
                                                        <label>Date</label>
                                                        <div class="input-group date" data-provide="datepicker" disabled>
                                                            <input type="text" name="TransactionTime" class="form-control date-picker" value='@System.DateTime.Now.ToString("MM/dd/yyyy")' required disabled>
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-6">
                                                    <label for="RFP">Request</label>
                                                    <input type="hidden" id="RequestId" name="RequestId">
                                                    @*<input type="hidden" id="Request" name="Request">*@
                                                    <input type="text" id="RequestCode" name="RequestCode" class="form-control" placeholder="Type here">
                                                </div>

                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label for="txtClient">Client Name/Company Name</label>
                                                        <input id="ClientId" type="hidden" name="ClientId" required>
                                                        <input id="ClientName" class="form-control" type="text" name="ClientName" readonly>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12  col-xl-12">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-12  col-xl-12">
                                                    <div class="form-group">
                                                        <div id="html-table" style="display: none;"></div>
                                                        <table id="ItemsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th width="5%">#</th>@*0*@
                                                                    <th width="35%">Item</th>@*1*@
                                                                    <th width="15%">Quantity</th>@*2*@
                                                                    <th width="15%">Price</th>@*3 Price*@
                                                                    <th width="10%">Less</th>@*4 DiscTotal*@
                                                                    <th width="15%">Total</th>@*5 Total*@
                                                                    <th width="5%"></th>@*6 Action*@
                                                                    <th></th>@*7 ProductId*@
                                                                    <th></th>@*8 Description*@
                                                                    <th></th>@*9 OrderQty*@
                                                                    <th></th>@*10 UnitId*@
                                                                    <th></th>@*11 Disc1*@
                                                                    <th></th>@*12 DiscType1*@
                                                                    <th></th>@*13 Disc2*@
                                                                    <th></th>@*14 DiscType2*@
                                                                    <th></th>@*15 Disc3*@
                                                                    <th></th>@*16 DiscType3*@
                                                                    <th></th>@*17 Id*@
                                                                    <th></th>@*18 *@
                                                                    <th></th>@*19 *@
                                                                    <th></th>@*20 *@

                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <div id="divTable" hidden>
                                                            <table id="ItemsTableDeleted" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="5%">#</th>@*0*@
                                                                        <th width="35%">Item</th>@*1*@
                                                                        <th width="15%">Quantity</th>@*2*@
                                                                        <th width="15%">Price</th>@*3 Price*@
                                                                        <th width="10%">LESS</th>@*4 DiscTotal*@
                                                                        <th width="15%">Total</th>@*5 Total*@
                                                                        <th width="5%"></th>@*6 Action*@
                                                                        <th></th>@*7 ProductId*@
                                                                        <th></th>@*8 Description*@
                                                                        <th></th>@*9 OrderQty*@
                                                                        <th></th>@*10 UnitId*@
                                                                        <th></th>@*11 Disc1*@
                                                                        <th></th>@*12 DiscType1*@
                                                                        <th></th>@*13 Disc2*@
                                                                        <th></th>@*14 DiscType2*@
                                                                        <th></th>@*15 Disc3*@
                                                                        <th></th>@*16 DiscType3*@
                                                                        <th></th>@*17 Id*@
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                            @*display table table-bordered dt-responsive nowrap*@
                                                            <table id="ItemsTablePrint" class="display table table-bordered dt-responsive nowrap" style="width: 100%;">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="20%">MODEL</th>@*1*@
                                                                        <th width="30%">DESCRIPTION</th>@*1*@
                                                                        <th width="10%">QTY</th>@*2*@
                                                                        <th width="15%">COST</th>@*3 Price*@
                                                                        <th width="10%">Less</th>@*4 DiscTotal*@
                                                                        <th width="15%">Total</th>@*5 Total*@
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xl-12" hidden>
                                                <div class="card border border-success" id="accordion">
                                                    <div class="card-header">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                            Add Item
                                                        </a>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-6  col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Name</label>
                                                                        <input id="ProductId" type="hidden">
                                                                        <input id="ProductName" type="text" class="form-control" placeholder="Type here">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Code</label>
                                                                        <input id="ProductCode" type="text" class="form-control" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3  col-xl-3">
                                                                    <div class="form-group">
                                                                        <label>Quantity</label>
                                                                        <input id="Quantity" type="text" name="Quantity" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3  col-xl-3">
                                                                    <div class="form-group">
                                                                        <label>Stocks</label>
                                                                        <input id="Stocks" type="text" class="form-control" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3  col-xl-3">
                                                                    <div class="form-group">
                                                                        <label>Unit</label>
                                                                        <select id="Units" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3  col-xl-3">
                                                                    <div class="form-group">
                                                                        <label>Price</label>
                                                                        <input id="Price" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6  col-xl-6">
                                                                    <div class="card" id="accordion">
                                                                        <div class="card-header">
                                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                                                Less
                                                                            </a>
                                                                        </div>
                                                                        <div id="collapseThree" class="panel-collapse collapse in">
                                                                            <div class="card-body">
                                                                                <div class="row">
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Discount</label>
                                                                                            <input id="Discount1" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Type</label>
                                                                                            <select id="DiscountType1" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                                <option value=1>Value</option>
                                                                                                <option value=2>Percent</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Discount</label>
                                                                                            <input id="Discount2" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Type</label>
                                                                                            <select id="DiscountType2" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                                <option value=1>Value</option>
                                                                                                <option value=2>Percent</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Discount</label>
                                                                                            <input id="Discount3" type="text" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Type</label>
                                                                                            <select id="DiscountType3" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                                <option value=1>Value</option>
                                                                                                <option value=2>Percent</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Description</label>
                                                                        <textarea id="PerDescription" class="form-control" rows="5" maxlength="328"></textarea>
                                                                    </div>
                                                                    <div class="form-group  text-right">
                                                                        <button id="AddItemButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12  col-xl-12">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <select name="TaxTypeId" id="TaxTypes" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea id="Notes" name="Notes" class="form-control" rows="3" placeholder="Notes" maxlength="328"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="row form-group">
                                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                                            <label for="email-input" class=" form-control-label"><strong>SUBTOTAL</strong></label>
                                                        </div>
                                                        <div class="col-md-6 col-xl-6">
                                                            <input type="text" id="SubTotal" disabled name="SubTotal" class="form-control text-right" required>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                                            <label for="email-input" class=" form-control-label"><strong>TAX</strong></label>
                                                        </div>
                                                        <div class="col-md-6 col-xl-6">
                                                            <input type="text" id="Tax" disabled name="Tax" class="form-control text-right" required>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                                            <label for="email-input" class=" form-control-label"><strong>TOTAL</strong></label>
                                                        </div>
                                                        <div class="col-md-6 col-xl-6">
                                                            <input type="text" id="Total" disabled name="Total" class="form-control text-right" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

