﻿@using Abp.Application.Services.Dto
@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.Rfq
@using ezinvmvc.App.Sales

@model RfqCreateModel
@{
    ViewBag.CurrentPageName = PageNames.RFQ_Edit;
}
<style type="text/css">
    .ui-autocomplete {
        z-index: 2147483647;
    }
</style>
@section scripts
    {
    <script src="~/view-resources/Views/RFQ/Edit.js" asp-append-version="true"></script>
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <input type="text" id="h1" value="@Model.EmpId" hidden>
                    <div class="page-title">
                        <h1>
                            Update RFQ
                            <span id="StatusBadge"></span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                    @*@if (IsGranted(PermissionNames.Pages_Rfq_Submit))
                        {*@
                    <button id="UpdateRfqButton" class="btn btn-outline-primary btn-sm" hidden><i class="fa fa-save"></i>&nbsp; Update</button>
                    @*}
                        @if (IsGranted(PermissionNames.Pages_Rfq_Submit))
                        {*@
                    <button id="SubmitButton" class="btn btn-outline-success btn-sm" hidden><i class="fa fa-save"></i>&nbsp; Submit</button>
                    <button id="ReviseButton" class="btn btn-outline-danger btn-sm" hidden><i class="fa fa-edit"></i>&nbsp; Revise</button>
                    @*}*@

                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-block">
                        <form id="RfqForm" name="RfqForm" enctype="multipart/form-data" role="form" novalidate class="form-validation">
                            <div class="row clearfix">
                                <div class="col-md-12  col-xl-12">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label for="Product">Ref. No.</label>
                                                        <div class="input-group">
                                                            <input id="Id" class="form-control font-weight-bold" disabled type="hidden" name="Id" value="@ViewBag.Id" required>
                                                            <input id="RefNo" class="form-control font-weight-bold" disabled type="text" name="RefNo" required>
                                                            <input id="Series" type="hidden" name="SeriesTypeId">
                                                            <input id="Prefix" type="hidden" name="Prefix">
                                                            <input type="hidden" id="Code" name="Code" />
                                                            <input type="hidden" id="RevisionNo" name="RevisionNo" />
                                                            <input id="StatusId" type="hidden" name="StatusId">
                                                            <input id="soid" type="hidden" name="soid">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label for="RFQ">Company</label>
                                                        <div class="input-group">
                                                            <select name="CompanyId2" id="Companies" style="display:none"></select>
                                                            <input type="hidden" id="CompanyId" name="CompanyId" />
                                                            <input type="text" id="Company" name="Company" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label>Date</label>
                                                        <div class="input-group date" data-provide="datepicker" disabled>
                                                            <input type="text" id="TransactionTime" name="TransactionTime" class="form-control date-picker" required disabled>
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="txtClient">From</label>
                                                        <select id="Type" name="Type" class="selectpicker form-control">
                                                            <option>Leads</option>
                                                            <option>Client</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-6" id="divLead">
                                                    <div class="form-group">
                                                        <label for="RFQ">Lead</label>
                                                        <input type="hidden" id="LeadId" name="LeadId" required>
                                                        <input type="hidden" id="LeadCode" name="LeadCode" required>
                                                        <input type="text" id="Lead" name="Lead" placeholder="Type Ref. No./Name/Project to search" class="form-control" required>
                                                    </div>
                                                </div>
                                                @*</div>
                                                    <div class="row">*@
                                                <div class="col-md-6 col-xl-6">
                                                    <div class="form-group">
                                                        <label for="txtClient">Client Name</label>
                                                        <input type="hidden" id="ClientId" name="ClientId" required>
                                                        <input type="text" id="ClientName" name="Client" placeholder="Type Name to search" class="form-control" readonly required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-6">
                                                    <label for="RFQ">Contact Person</label>
                                                    <div class="form-group">
                                                        <input type="hidden" id="ContactPersonId" name="ContactPersonId" required>
                                                        <input type="text" id="ContactPerson" name="ContactPerson" placeholder="Type Name to search" class="form-control" readonly required>
                                                        @*<span class="input-group-btn">
                                                                <button id="CreateContactPerson" type="button" class="btn btn-default" data-toggle="modal" data-target="#Clientsmodal">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>*@
                                                    </div>
                                                </div>
                                                @*</div>
                                                    <div class="row">*@

                                                <div class="col-md-6 col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="RFQ">Project Name</label>
                                                        <input id="ProjectName" class="form-control" type="text" name="ProjectName" readonly required maxlength="128">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-xl-3 ">
                                                    <div class="form-group">
                                                        <label for="RFQ">Tel no.</label>
                                                        <input id="Telno" class="form-control" type="text" name="Telno" readonly>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-xl-3 ">
                                                    <div class="form-group">
                                                        <label for="RFQ">Phone Number</label>
                                                        <input id="Phone" class="form-control" type="text" name="Phone" readonly>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-xl-3 " style="display:none">
                                                    <div class="form-group">
                                                        <label for="RFQ">Taxno</label>
                                                        <input id="Taxno" class="form-control" type="text" name="Taxno" readonly>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="RFQ">Email</label>
                                                        <input id="Email" class="form-control" type="text" name="Email" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xl-12 ">
                                                    <div class="form-group">
                                                        <label for="RFQ">Address</label>
                                                        <textarea id="Address" name="Address" class="form-control" rows="2" maxlength="328" readonly></textarea>
                                                        @*<input id="Address" class="form-control" type="text" name="Address" required>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 col-xl-12 ">
                                                    <div class="form-group">
                                                        <label for="RFQ">Delivery Address</label>
                                                        <textarea id="DeliveryAddress" name="DeliveryAddress" class="form-control" rows="2" maxlength="328" required></textarea>
                                                        @*<input id="DeliveryAddress" class="form-control" type="text" name="DeliveryAddress" required>*@
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-md-3 col-xl-3 ">
                                                    <div class="form-group">
                                                        <label for="RFQ">Discount</label>
                                                        <input type="text" id="Discount" name="Discount" class="form-control" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-xl-3 ">
                                                    <div class="form-group">
                                                        <label for="RFQ">VAT Type</label>
                                                        <select id="Vat" name="Vat" class="selectpicker form-control" required>
                                                            <option value="w/VAT">w/ VAT</option>
                                                            <option value="w/oVAT">w/o VAT</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                    <div class="col-md-12 col-xl-12 ">
                                        <div class="form-group">
                                            <label for="RFQ">List of Products</label>
                                        </div>
                                    </div>
                                </div>*@

                            <div class="row clearfix">
                                <div class="col-md-12  col-xl-12">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-12  col-xl-12">
                                                    <div class="form-group">
                                                        <table id="ItemsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th width="5%">#</th>@*0*@
                                                                    <th width="35%">Item</th>@*1*@
                                                                    <th width="15%">Quantity</th>@*2*@
                                                                    @*MARC --WALA KA PRICE
                                                                        <th width="15%">Price</th>3 Price
                                                                        <th width="10%">Less</th>4 DiscTotal
                                                                        <th width="15%">Total</th>5 Total*@
                                                                    <th width="5%"></th>@*3 Action*@
                                                                    <th></th>@*4 ProductId*@
                                                                    <th></th>@*5 Description*@
                                                                    <th></th>@*6 OrderQty*@
                                                                    <th></th>@*7 UnitId*@
                                                                    <th></th>@*8 Id*@
                                                                    <th></th>@*9 Group Name*@
                                                                    @*MARC --WALA KA DISCOUNTS
                                                                        <th></th>11 Disc1
                                                                        <th></th>12 DiscType1
                                                                        <th></th>13 Disc2
                                                                        <th></th>14 DiscType2
                                                                        <th></th>15 Disc3
                                                                        <th></th>16 DiscType3*@
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <table id="ItemsTableDeleted" class="display table table-striped table-bordered table-hover dt-responsive nowrap" style="display:none;">
                                                            <thead>
                                                                <tr>
                                                                    <th width="5%">#</th>@*0*@
                                                                    <th width="35%">Item</th>@*1*@
                                                                    <th width="15%">Quantity</th>@*2*@
                                                                    @*MARC --WALA KA PRICE
                                                                        <th width="15%">Price</th>3 Price
                                                                        <th width="10%">Less</th>4 DiscTotal
                                                                        <th width="15%">Total</th>5 Total*@
                                                                    <th width="5%"></th>@*3 Action*@
                                                                    <th></th>@*4 ProductId*@
                                                                    <th></th>@*5 Description*@
                                                                    <th></th>@*6 OrderQty*@
                                                                    <th></th>@*7 UnitId*@
                                                                    <th></th>@*8 ID*@
                                                                    <th></th>@*9 Group Name*@
                                                                    @*MARC --WALA KA DISCOUNTS
                                                                        <th></th>11 Disc1
                                                                        <th></th>12 DiscType1
                                                                        <th></th>13 Disc2
                                                                        <th></th>14 DiscType2
                                                                        <th></th>15 Disc3
                                                                        <th></th>16 DiscType3*@
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xl-12">
                                                <div class="card border border-success" id="accordion">
                                                    <div class="card-header">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                            Add Item
                                                        </a>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                                        <div class="card-body">
                                                            <div class="row" hidden>
                                                                <div class="col-md-6  col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Name</label>
                                                                        <input id="ProductId" type="hidden">
                                                                        <input id="ProductName" type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Code</label>
                                                                        <input id="ProductCode" type="text" class="form-control" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6  col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Group Name</label>
                                                                        <input id="GroupName" type="text" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Quantity</label>
                                                                        <input id="Quantity" type="text" name="Quantity" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6  col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Description</label>
                                                                        <textarea id="PerDescription" class="form-control" rows="5" maxlength="328"></textarea>
                                                                    </div>
                                                                    <div class="form-group  text-right">
                                                                        <button id="AddItemButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-md-3  col-xl-3" hidden>
                                                                    <div class="form-group">
                                                                        <label>Stocks</label>
                                                                        <input id="Stocks" type="text" class="form-control" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3  col-xl-3" hidden>
                                                                    <div class="form-group">
                                                                        <label>Unit</label>
                                                                        <select id="Units" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3  col-xl-3 hidden ">
                                                                    <div class="form-group hidden">
                                                                        @*<label>Price</label>*@
                                                                        <input id="Price" type="hidden" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6  col-xl-6" hidden>
                                                                    <div class="card" id="accordion">
                                                                        <div class="card-header">
                                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                                                Less
                                                                            </a>
                                                                        </div>
                                                                        <div id="collapseThree" class="panel-collapse collapse in">
                                                                            <div class="card-body">
                                                                                <div class="row">
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Discount</label>
                                                                                            <input id="Discount1" type="text" value="0" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Type</label>
                                                                                            <select id="DiscountType1" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                                <option value=1>Value</option>
                                                                                                <option value=2>Percent</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Discount</label>
                                                                                            <input id="Discount2" type="text" value="0" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Type</label>
                                                                                            <select id="DiscountType2" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                                <option value=1>Value</option>
                                                                                                <option value=2>Percent</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Discount</label>
                                                                                            <input id="Discount3" type="text" value="0" class="form-control" onkeypress="return decimalOnly(this.id);">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6  col-xl-6">
                                                                                        <div class="form-group">
                                                                                            <label>Type</label>
                                                                                            <select id="DiscountType3" class="selectpicker form-control" tabindex="-1" data-live-search="true">
                                                                                                <option value=1>Value</option>
                                                                                                <option value=2>Percent</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                             
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ItemEditModal" tabindex="-1" role="dialog" aria-labelledby="ItemEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title text-success">
                    <span>Edit Item # </span><label id="EIndexNo">0</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" hidden>
                    <div class="col-md-6  col-xl-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="EProductId" type="hidden">
                            <input id="EProductName" type="text" class="form-control" placeholder="Type here">
                        </div>
                    </div>
                    <div class="col-md-6  col-xl-6">
                        <div class="form-group">
                            <label>Code</label>
                            <input id="EProductCode" type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12  col-xl-12">
                        <div class="row">
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Group Name</label>
                                    <input id="EGroupName" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input id="EQuantity" type="text" name="Quantity" class="form-control" onkeypress="return decimalOnly(this.id);">
                                </div>
                            </div>

                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea id="EPerDescription" class="form-control" rows="5" maxlength="328"></textarea>
                                </div>
                            </div>
                          
                            <div class="col-md-6  col-xl-6" hidden>
                                <div class="form-group">
                                    <label>Stocks</label>
                                    <input id="EStocks" type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3  col-xl-3" hidden>
                        <div class="form-group">
                            <label>Unit</label>
                            <select id="EUnits" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                        </div>
                    </div>
                    <div class="col-md-3  col-xl-3" hidden> </div>
                </div>
                <div class="row" hidden>
                    <div class="col-md-12  col-xl-12">
                        <div class="row">
                           
                        </div>
                    </div>
                    @*<div class="col-md-6  col-xl-6">
                            <div class="form-group">
                                <img id="EProductImage" src="" class="img-fluid img-thumbnail" style="margin-top:25px" alt="your image" />
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm waves-effect" data-dismiss="modal">@L("Cancel")</button>
                <button id="UpdatetemButton" class="btn btn-outline-success btn-sm">Update</button>
            </div>
        </div>
    </div>
</div>