﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Web.Models.Attendance

@model AttendanceViewModel
@{
    ViewBag.CurrentPageName = PageNames.Attendance;
}
@section scripts
    {
    <script src="~/view-resources/Views/Attendance/Index.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Attendance/IndexAtt.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Attendance/xlsx.core.min.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Attendance/xls.core.min.js" asp-append-version="true"></script>

    <script src="~/view-resources/Views/Attendance/jquery.tabletojson.js" asp-append-version="true"></script>
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-8 col-xl-8">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Attendance</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="btn-group" role="group" style="width:100% ; padding-top:10px">
                    <button id="Filterbutton" style="width:100%" class="btn btn-outline-info"  data-toggle="modal" data-target="#AttList"><i class="fa fa-filter"></i>&nbsp; Filter Attendance</button>
                    <button id="Flagbutton" class="btn btn-outline-secondary" data-toggle="modal" data-target="#HeaderSettings"><i class="fa fa-question-circle fa-lg color-red"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">

                <form id="formexcel" name="formexcel" runat="server">
                    <div class="row">
                        <div class="col-md-5 col-xl-5 text-right">
                            <input type="file" id="excelfile" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4 col-xl-4 text-right">
                            <input id="attid" name="attid" type="text" class="form-control" placeholder="Attendance Id" required>
                        </div>
                        
                        <div class="col-md-3 col-xl-3 text-right">
                            <div class="btn-group" role="group" style="width:100%">
                                <button type="button" id="viewfile" class="btn btn-outline-secondary" onclick="ExportToTable()" style="width:100%"> <i class="fa fa-stack-overflow"></i>&nbsp;Import</button>
                                <button id="AttendanceNewbutton" style="width:100%" class="btn btn-outline-success"><i class="fa fa-eraser"></i>&nbsp; New</button>
                                <button id="SaveAttendacebutton" style="width:100%" class="btn btn-outline-primary"><i class="fa fa-save"></i>&nbsp; Save</button>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12" style="padding-top:15px">
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <table id="exceltable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Company</th>
                                        <th>Name</th>
                                        <th>No</th>
                                        <th>Date</th>
                                        <th>LocId</th>
                                        <th>IdNumber</th>
                                        <th>VerifyCode</th>
                                        <th>CardNo</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HeaderSettings" tabindex="-1" role="dialog" aria-labelledby="HeaderSettingsLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                 </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-xl-12"><img src="~/images/Sample.jpg" /></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AttList" tabindex="-1" role="dialog" aria-labelledby="AttListLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    <span>Attendance List</span>
                </h6>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-xl-12">
                    <table id="AttendanceTable" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th width="40%">Date</th>
                                <th width="20%">Attendance&nbsp;Id</th>
                                <th width="20%">Company</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Closed</button>
            </div>
        </div>
    </div>
</div>

