﻿@using Abp.Application.Services.Dto
@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.Products
@using ezinvmvc.App.Products

@{
    ViewBag.CurrentPageName = PageNames.Products_Create;
}
@section scripts
    {
    <script src="~/view-resources/Views/Products/Create.js" asp-append-version="true"></script>
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Create Product</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                    <button id="SaveProductButton" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-block">
                        <form id="ProductForm" name="ProductForm" enctype="multipart/form-data" role="form" novalidate class="form-validation">
                            <div class="row">
                                <div class="col-md-8 col-xl-8 ">
                                    <div class="form-group">
                                        <label for="Product">Code</label>
                                        <input id="Code" class="form-control" type="text" name="Code" required maxlength="64">
                                    </div>
                                    <div class="form-group">
                                        <label for="Product">Name</label>
                                        <input id="Name" class="form-control" type="text" name="Name" required maxlength="128">
                                    </div>
                                    <div class="form-group">
                                        <label for="Product">Category</label>
                                        <div class="input-group">
                                            <select name="CategoryId" id="lbCategories" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                            <span class="input-group-btn">
                                                <button id="CreateCategoryButton" type="button" class="btn btn-default" data-toggle="modal" data-target="#CategoryCreateModal">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Product">Brand</label>
                                        <div class="input-group">
                                            <select name="BrandId" id="lbBrands" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                            <span class="input-group-btn">
                                                <button id="CreateBrandButton" type="button" class="btn btn-default" data-toggle="modal" data-target="#BrandCreateModal">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Product">Description</label>
                                        <textarea id="Description" rows="5" class="form-control" type="text" name="Description" required maxlength="1024"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="Product">Alert Level</label>
                                        <input id="AlertLevel" class="form-control" type="text" name="AlertLevel" onkeypress="return decimalOnly(this.id);" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Product">Costing Type</label>
                                        <div class="input-group">
                                            <select name="CostingTypeId" id="CostingTypeId" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Product">Unit</label><div class="input-group">
                                            <select name="UnitId" id="UnitId" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                            <span class="input-group-btn">
                                                <button id="CreateUnitButton" type="button" class="btn btn-default" data-toggle="modal" data-target="#UnitCreateModal">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Product">Supplier</label>
                                        <div class="input-group">
                                            <select name="VendorId" id="Vendors" class="selectpicker form-control" tabindex="-1" data-live-search="true"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xl-4 ">
                                    <div class="form-group">
                                        <label for="Product">Primary Image</label>
                                        <div class="custom-file" id="customFile">
                                            <input id="fileinput" type="file" class="custom-file-input">
                                            <label id="fileinputlabel" for="fileinput" class="custom-file-label text-truncate">Choose file...</label>
                                        </div>
                                        <img id="filepreview" src="~/images/default.png" class="img-fluid img-thumbnail" style="margin-top:25px" alt="your image" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CategoryCreateModal" tabindex="-1" role="dialog" aria-labelledby="CategoryCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="BrandCreateModal" tabindex="-1" role="dialog" aria-labelledby="BrandCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="UnitCreateModal" tabindex="-1" role="dialog" aria-labelledby="UnitCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
