﻿@using ezinvmvc.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Home; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    <environment names="Development">
        <script src="~/lib/jquery-countTo/jquery.countTo.js" asp-append-version="true"></script>
        <script src="~/lib/raphael/raphael.js" asp-append-version="true"></script>
        <script src="~/lib/morris.js/morris.js" asp-append-version="true"></script>
        <script src="~/lib/chart.js/dist/Chart.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.resize.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.pie.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.categories.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.time.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
        @*<script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>*@
    </environment>
}
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-7">
                                    <i class="pe-7s-cloud-upload"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count" name="count" id="count" placeholder="0"></span></div>
                                        <a href="@Url.Action("UploadReports", "FolderUsers")"><div class="stat-heading">Total Upload</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-8">
                                    <i class="pe-7s-comment"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count" name="Commentcount" id="Commentcount" placeholder="0"></span></div>
                                        <a href="@Url.Action("CommentsReports", "FolderUsers")"><div class="stat-heading">Latest Comment</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <i class="pe-7s-share"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count" name="Sharedcount" id="Sharedcount" placeholder="0"></span></div>
                                        <a href="@Url.Action("ShareReport", "SharedUsers")"><div class="stat-heading">Shared to you</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <i class="pe-7s-users"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count" name="SharedRolecount" id="SharedRolecount" placeholder="0"></span></div>
                                        <a href="@Url.Action("ShareRoleReport", "SharedRole")"><div class="stat-heading">Shared by Role</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /Widgets -->
            <div class="clearfix"></div>
            <!-- announcement -->
            <div class="orders">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title box-title">Announcement</h4>
                                <div class="card-content" style=" height: 367px; overflow-y: auto;">
                                    <input class="form-control" hidden type="text" name="roleid" id="roleid" required>
                                    <div id="announcement"></div>
                                </div>
                            </div>
                            <div class="card-body" id="comments" name="comments">
                                <form id="announcementform" name="announcementform" role="form" novalidate class="form-validation">
                                    <div class="input-group">
                                        <textarea class="form-control" id="Announce" name="Announce" rows="2" placeholder="Type your message" required></textarea>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="button" title="Enter" id="btnaddannouncement" name="btnaddannouncement"><i class="fa fa-lg fa-reply-all"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orders">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="box-title">Latest Comments </h4>
                            </div>
                            <div class="card-body" style=" height: 470px; overflow-y: auto; padding-top: 0px;">
                                <form id="formTable" name="formTable" role="form" novalidate class="form-validation">
                                    <table class="table" id="commentsTable" style="font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th style="font-size:10px"></th>
                                                <th style="font-size:10px">Name</th>
                                                <th style="font-size:10px">Image</th>
                                                <th style="font-size:10px">FileName</th>
                                                <th style="font-size:10px">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title box-title">Top Download</h4>
                                <div id="downloadCount"></div>
                            </div>
                        </div>
                    </div> <!-- /.col-md-4 -->
                </div>
            </div>
            <!-- /.orders -->
            <div class="clearfix"></div>

            <!--  Traffic  -->
            <div class="row" hidden>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-8" hidden>
                                <div class="card-body">
                                    <div class="table-stats order-table ov-h">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th class="serial">#</th>
                                                    <th class="avatar">Avatar</th>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="serial">1.</td>
                                                    <td class="avatar">
                                                        <div class="round-img">
                                                            <a href="#"><img class="rounded-circle" src="images/avatar/1.jpg" alt=""></a>
                                                        </div>
                                                    </td>
                                                    <td> #5469 </td>
                                                    <td>  <span class="name">Louis Stanley</span> </td>
                                                    <td> <span class="product">iMax</span> </td>
                                                    <td><span class="count">231</span></td>
                                                    <td>
                                                        <span class="badge badge-complete">Complete</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="serial">2.</td>
                                                    <td class="avatar">
                                                        <div class="round-img">
                                                            <a href="#"><img class="rounded-circle" src="images/avatar/2.jpg" alt=""></a>
                                                        </div>
                                                    </td>
                                                    <td> #5468 </td>
                                                    <td>  <span class="name">Gregory Dixon</span> </td>
                                                    <td> <span class="product">iPad</span> </td>
                                                    <td><span class="count">250</span></td>
                                                    <td>
                                                        <span class="badge badge-complete">Complete</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="serial">3.</td>
                                                    <td class="avatar">
                                                        <div class="round-img">
                                                            <a href="#"><img class="rounded-circle" src="images/avatar/3.jpg" alt=""></a>
                                                        </div>
                                                    </td>
                                                    <td> #5467 </td>
                                                    <td>  <span class="name">Catherine Dixon</span> </td>
                                                    <td> <span class="product">SSD</span> </td>
                                                    <td><span class="count">250</span></td>
                                                    <td>
                                                        <span class="badge badge-complete">Complete</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="serial">4.</td>
                                                    <td class="avatar">
                                                        <div class="round-img">
                                                            <a href="#"><img class="rounded-circle" src="images/avatar/4.jpg" alt=""></a>
                                                        </div>
                                                    </td>
                                                    <td> #5466 </td>
                                                    <td>  <span class="name">Mary Silva</span> </td>
                                                    <td> <span class="product">Magic Mouse</span> </td>
                                                    <td><span class="count">250</span></td>
                                                    <td>
                                                        <span class="badge badge-pending">Pending</span>
                                                    </td>
                                                </tr>
                                                <tr class=" pb-0">
                                                    <td class="serial">5.</td>
                                                    <td class="avatar pb-0">
                                                        <div class="round-img">
                                                            <a href="#"><img class="rounded-circle" src="images/avatar/6.jpg" alt=""></a>
                                                        </div>
                                                    </td>
                                                    <td> #5465 </td>
                                                    <td>  <span class="name">Johnny Stephens</span> </td>
                                                    <td> <span class="product">Monitor</span> </td>
                                                    <td><span class="count">250</span></td>
                                                    <td>
                                                        <span class="badge badge-complete">Complete</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card-body">


                                    @*<div class="progress-box progress-1">
                                                                <h4 class="por-title">TOP DOWNLOADS</h4>
                                                                <div class="por-txt">96,930 Users (40%)</div>
                                                                <div class="progress mb-2" style="height: 5px;">
                                                                    <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box progress-2">
                                                                <h4 class="por-title">Bounce Rate</h4>
                                                                <div class="por-txt">3,220 Users (24%)</div>
                                                                <div class="progress mb-2" style="height: 5px;">
                                                                    <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: 24%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="progress-box progress-2">
                                                                <h4 class="por-title">Unique Visitors</h4>
                                                                <div class="por-txt">29,658 Users (60%)</div>
                                                                <div class="progress mb-2" style="height: 5px;">
                                                                    <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Targeted  Visitors</h4>
                                    <div class="por-txt">99,658 Users (90%)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-4" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>*@
                                </div> <!-- /.card-body -->
                            </div>
                        </div> <!-- /.row -->
                    </div>
                </div><!-- /# column -->
            </div>
            <!--  /Traffic -->
            <!-- To Do and Live Chat -->
            <div class="row" hidden>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                        </div> <!-- /.card-body -->
                    </div><!-- /.card -->
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body" hidden>
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th class="avatar">Avatar</th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="serial">1.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="images/avatar/1.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5469 </td>
                                            <td>  <span class="name">Louis Stanley</span> </td>
                                            <td> <span class="product">iMax</span> </td>
                                            <td><span class="count">231</span></td>
                                            <td>
                                                <span class="badge badge-complete">Complete</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="serial">2.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="images/avatar/2.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5468 </td>
                                            <td>  <span class="name">Gregory Dixon</span> </td>
                                            <td> <span class="product">iPad</span> </td>
                                            <td><span class="count">250</span></td>
                                            <td>
                                                <span class="badge badge-complete">Complete</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="serial">3.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5467 </td>
                                            <td>  <span class="name">Catherine Dixon</span> </td>
                                            <td> <span class="product">SSD</span> </td>
                                            <td><span class="count">250</span></td>
                                            <td>
                                                <span class="badge badge-complete">Complete</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="serial">4.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="images/avatar/4.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5466 </td>
                                            <td>  <span class="name">Mary Silva</span> </td>
                                            <td> <span class="product">Magic Mouse</span> </td>
                                            <td><span class="count">250</span></td>
                                            <td>
                                                <span class="badge badge-pending">Pending</span>
                                            </td>
                                        </tr>
                                        <tr class=" pb-0">
                                            <td class="serial">5.</td>
                                            <td class="avatar pb-0">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="images/avatar/6.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5465 </td>
                                            <td>  <span class="name">Johnny Stephens</span> </td>
                                            <td> <span class="product">Monitor</span> </td>
                                            <td><span class="count">250</span></td>
                                            <td>
                                                <span class="badge badge-complete">Complete</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                        <!-- /.card-body -->
                    </div><!-- /.card -->
                </div>
            </div>
            <!-- /To Do and Live Chat -->
            <!-- Calender Chart Weather  -->
            <div class="row" hidden>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h4 class="box-title">Chandler</h4> -->
                            <div class="calender-cont widget-calender">
                                <div id="calendar" class="fc fc-unthemed fc-ltr"><div class="fc-toolbar fc-header-toolbar"><div class="fc-left"><div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left" aria-label="prev"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right" aria-label="next"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div><button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="">today</button></div><div class="fc-right"><div class="fc-button-group"><button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">month</button><button type="button" class="fc-agendaWeek-button fc-button fc-state-default">week</button><button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">day</button></div></div><div class="fc-center"><h2>April 2019</h2></div><div class="fc-clear"></div></div><div class="fc-view-container" style=""><div class="fc-view fc-month-view fc-basic-view" style=""><table class=""><thead class="fc-head"><tr><td class="fc-head-container fc-widget-header"><div class="fc-row fc-widget-header"><table class=""><thead><tr><th class="fc-day-header fc-widget-header fc-sun"><span>Sun</span></th><th class="fc-day-header fc-widget-header fc-mon"><span>Mon</span></th><th class="fc-day-header fc-widget-header fc-tue"><span>Tue</span></th><th class="fc-day-header fc-widget-header fc-wed"><span>Wed</span></th><th class="fc-day-header fc-widget-header fc-thu"><span>Thu</span></th><th class="fc-day-header fc-widget-header fc-fri"><span>Fri</span></th><th class="fc-day-header fc-widget-header fc-sat"><span>Sat</span></th></tr></thead></table></div></td></tr></thead><tbody class="fc-body"><tr><td class="fc-widget-content"><div class="fc-scroller fc-day-grid-container" style="overflow: hidden scroll; height: 410px;"><div class="fc-day-grid fc-unselectable"><div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 68px;"><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2019-03-31"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2019-04-01"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2019-04-02"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2019-04-03"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2019-04-04"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2019-04-05"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2019-04-06"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-other-month fc-past" data-date="2019-03-31"><span class="fc-day-number">31</span></td><td class="fc-day-top fc-mon fc-past" data-date="2019-04-01"><span class="fc-day-number">1</span></td><td class="fc-day-top fc-tue fc-past" data-date="2019-04-02"><span class="fc-day-number">2</span></td><td class="fc-day-top fc-wed fc-past" data-date="2019-04-03"><span class="fc-day-number">3</span></td><td class="fc-day-top fc-thu fc-past" data-date="2019-04-04"><span class="fc-day-number">4</span></td><td class="fc-day-top fc-fri fc-past" data-date="2019-04-05"><span class="fc-day-number">5</span></td><td class="fc-day-top fc-sat fc-past" data-date="2019-04-06"><span class="fc-day-number">6</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 68px;"><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-today " data-date="2019-04-07"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2019-04-08"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2019-04-09"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2019-04-10"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2019-04-11"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2019-04-12"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2019-04-13"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-today " data-date="2019-04-07"><span class="fc-day-number">7</span></td><td class="fc-day-top fc-mon fc-future" data-date="2019-04-08"><span class="fc-day-number">8</span></td><td class="fc-day-top fc-tue fc-future" data-date="2019-04-09"><span class="fc-day-number">9</span></td><td class="fc-day-top fc-wed fc-future" data-date="2019-04-10"><span class="fc-day-number">10</span></td><td class="fc-day-top fc-thu fc-future" data-date="2019-04-11"><span class="fc-day-number">11</span></td><td class="fc-day-top fc-fri fc-future" data-date="2019-04-12"><span class="fc-day-number">12</span></td><td class="fc-day-top fc-sat fc-future" data-date="2019-04-13"><span class="fc-day-number">13</span></td></tr></thead><tbody><tr><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-danger fc-draggable"><div class="fc-content"><span class="fc-time">7:20a</span> <span class="fc-title">See John Deo</span></div></a></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-dark fc-draggable"><div class="fc-content"><span class="fc-time">3:14a</span> <span class="fc-title">Hey!</span></div></a></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-primary fc-draggable"><div class="fc-content"><span class="fc-time">5:14a</span> <span class="fc-title">Buy a Theme</span></div></a></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 68px;"><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2019-04-14"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2019-04-15"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2019-04-16"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2019-04-17"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2019-04-18"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2019-04-19"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2019-04-20"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-future" data-date="2019-04-14"><span class="fc-day-number">14</span></td><td class="fc-day-top fc-mon fc-future" data-date="2019-04-15"><span class="fc-day-number">15</span></td><td class="fc-day-top fc-tue fc-future" data-date="2019-04-16"><span class="fc-day-number">16</span></td><td class="fc-day-top fc-wed fc-future" data-date="2019-04-17"><span class="fc-day-number">17</span></td><td class="fc-day-top fc-thu fc-future" data-date="2019-04-18"><span class="fc-day-number">18</span></td><td class="fc-day-top fc-fri fc-future" data-date="2019-04-19"><span class="fc-day-number">19</span></td><td class="fc-day-top fc-sat fc-future" data-date="2019-04-20"><span class="fc-day-number">20</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 68px;"><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2019-04-21"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2019-04-22"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2019-04-23"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2019-04-24"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2019-04-25"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2019-04-26"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2019-04-27"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-future" data-date="2019-04-21"><span class="fc-day-number">21</span></td><td class="fc-day-top fc-mon fc-future" data-date="2019-04-22"><span class="fc-day-number">22</span></td><td class="fc-day-top fc-tue fc-future" data-date="2019-04-23"><span class="fc-day-number">23</span></td><td class="fc-day-top fc-wed fc-future" data-date="2019-04-24"><span class="fc-day-number">24</span></td><td class="fc-day-top fc-thu fc-future" data-date="2019-04-25"><span class="fc-day-number">25</span></td><td class="fc-day-top fc-fri fc-future" data-date="2019-04-26"><span class="fc-day-number">26</span></td><td class="fc-day-top fc-sat fc-future" data-date="2019-04-27"><span class="fc-day-number">27</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 68px;"><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2019-04-28"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2019-04-29"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2019-04-30"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2019-05-01"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2019-05-02"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2019-05-03"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2019-05-04"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-future" data-date="2019-04-28"><span class="fc-day-number">28</span></td><td class="fc-day-top fc-mon fc-future" data-date="2019-04-29"><span class="fc-day-number">29</span></td><td class="fc-day-top fc-tue fc-future" data-date="2019-04-30"><span class="fc-day-number">30</span></td><td class="fc-day-top fc-wed fc-other-month fc-future" data-date="2019-05-01"><span class="fc-day-number">1</span></td><td class="fc-day-top fc-thu fc-other-month fc-future" data-date="2019-05-02"><span class="fc-day-number">2</span></td><td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2019-05-03"><span class="fc-day-number">3</span></td><td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2019-05-04"><span class="fc-day-number">4</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 70px;"><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2019-05-05"></td><td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2019-05-06"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2019-05-07"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2019-05-08"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2019-05-09"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2019-05-10"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2019-05-11"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-other-month fc-future" data-date="2019-05-05"><span class="fc-day-number">5</span></td><td class="fc-day-top fc-mon fc-other-month fc-future" data-date="2019-05-06"><span class="fc-day-number">6</span></td><td class="fc-day-top fc-tue fc-other-month fc-future" data-date="2019-05-07"><span class="fc-day-number">7</span></td><td class="fc-day-top fc-wed fc-other-month fc-future" data-date="2019-05-08"><span class="fc-day-number">8</span></td><td class="fc-day-top fc-thu fc-other-month fc-future" data-date="2019-05-09"><span class="fc-day-number">9</span></td><td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2019-05-10"><span class="fc-day-number">10</span></td><td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2019-05-11"><span class="fc-day-number">11</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div></div></div></td></tr></tbody></table></div></div></div>
                            </div>
                        </div>
                    </div><!-- /.card -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="card ov-h">
                        <div class="card-body bg-flat-color-2">
                            <div id="flotBarChart" class="float-chart ml-4 mr-4" style="padding: 0px; position: relative;"><canvas class="flot-base" width="220" height="150" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 220px; height: 150px;"></canvas><canvas class="flot-overlay" width="220" height="150" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 220px; height: 150px;"></canvas></div>
                        </div>
                        <div id="cellPaiChart" class="float-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="308" height="160" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 308px; height: 160px;"></canvas><canvas class="flot-overlay" width="308" height="160" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 308px; height: 160px;"></canvas><span class="pieLabel" id="pieLabel0" style="position: absolute; top: 90px; left: 186px;"><div style="font-size:x-small;text-align:center;padding:2px;color:#5b83de;">Direct Sell<br>65%</div></span><span class="pieLabel" id="pieLabel1" style="position: absolute; top: 18px; left: 35.5px;"><div style="font-size:x-small;text-align:center;padding:2px;color:#00bfa5;">Channel Sell<br>35%</div></span></div>
                    </div><!-- /.card -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card weather-box">
                        <h4 class="weather-title box-title">Weather</h4>
                        <div class="card-body">
                            <div class="weather-widget">
                                <div id="weather-one" class="weather-one"></div>
                            </div>
                        </div>
                    </div><!-- /.card -->
                </div>
            </div>
            <!-- /Calender Chart Weather -->
            <!-- Modal - Calendar - Add New Event -->
            <div class="modal fade none-border" id="event-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title"><strong>Add New Event</strong></h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#event-modal -->
            <!-- Modal - Calendar - Add Category -->
            <div class="modal fade none-border" hidden id="add-category">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title"><strong>Add a category </strong></h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Category Name</label>
                                        <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Choose Category Color</label>
                                        <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                            <option value="success">Success</option>
                                            <option value="danger">Danger</option>
                                            <option value="info">Info</option>
                                            <option value="pink">Pink</option>
                                            <option value="primary">Primary</option>
                                            <option value="warning">Warning</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#add-category -->
        </div>
    </div>

    <div class="modal fade" id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="UploadFileModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align: right; padding: 5px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-7"  style="top: 30px;">
                                <i id="commentIcon" name="commentIcon"></i>
                            </div>
                            <div class="stat-content"style=" margin-left: 70px;">
                                <div class="text-left dib">
                                    <div class="stat-text"><h4 id="commentfilename" name="commentfilename"></h4></div>
                                    <div class="stat-heading"><div id="comment" name="comment"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<h4 id="commentfilename" name="commentfilename"></h4>*@
                    
                </div>
            </div>
        </div>
    </div>
