﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.JournalEntry

@model JournalEntryCreateModel
@{

    ViewBag.CurrentPageName = PageNames.Journal_Entry_Edit;

}
@section scripts
    {
    <script src="~/view-resources/Views/JournalEntry/Edit.js" asp-append-version="true"></script>
}
<style type="text/css">
    .ui-autocomplete {
        z-index: 2147483647;
    }
</style>
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <input type="text" id="h1" value="@Model.EmpId" hidden>
                    <div class="page-title">
                        <h1>Edit Journal Entry</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="float-right" style="padding-top:10px">
                    <button id="SaveButton" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-block">
                        <form id="JournalEntryForm" name="JournalEntryForm" enctype="multipart/form-data" role="form" novalidate class="form-validation">
                            <div class="row clearfix">
                                <div class="col-md-12  col-xl-12">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-6  col-xl-6" style="display:none">
                                                    <div class="form-group">
                                                        <label for="JournalEntry">Company</label>
                                                        <div class="input-group">
                                                            <select name="CompanyId" id="Companies" class="selectpicker form-control" tabindex="-1" data-live-search="true" required></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6  col-xl-6">
                                                    <div class="form-group">
                                                        <label for="JournalEntry">Series</label>
                                                        <div class="input-group">
                                                            <input id="Id" class="form-control font-weight-bold" disabled type="hidden" name="Id" value="@ViewBag.Id" required>
                                                            <input id="Code" class="form-control font-weight-bold" disabled type="text" name="Code" required readonly>
                                                            <input id="Series" type="hidden" name="SeriesTypeId">
                                                            <input id="Prefix" type="hidden" name="Prefix">
                                                            @*<input type="hidden" id="Code" name="Code" />*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-6">
                                                    <div class="form-group">
                                                        <label>Posting Date</label>
                                                        <div class="input-group date" data-provide="datepicker" disabled>
                                                            <input type="text" name="TransactionTime" class="form-control date-picker" value='@System.DateTime.Now.ToString("MM/dd/yyyy")' required disabled readonly>
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-6 col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="txtEType">Entry Type</label>
                                                        <select id="EntryType" name="EntryType" class="selectpicker form-control" readonly>
                                                            <option>Journal Entry</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-6" hidden>
                                                    <div class="form-group">
                                                        <label for="JournalEntry">Finance Book</label>
                                                        <input type="hidden" id="LeadId" name="LeadId" required>
                                                        <input type="hidden" id="LeadCode" name="LeadCode" required>
                                                        <input type="text" id="Lead" name="Lead" placeholder="Finance book to search" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-6">
                                                    <div class="form-group">
                                                        <label for="txtClient">Company Name</label>
                                                        <input type="hidden" id="ClientId" name="ClientId" required>
                                                        <input type="text" id="ClientName" name="Client" disabled placeholder="Type Name to search" class="form-control" required readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="txtNotes">Notes</label>
                                                        <textarea id="Notes" name="Notes" class="form-control" rows="4" maxlength="328"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-12  col-xl-12">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-12  col-xl-12">
                                                    <div class="form-group">
                                                        <table id="ItemsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th width="5%">#</th>@*0*@
                                                                    <th width="30%">Acount</th>@*1*@
                                                                    <th width="30%">Party</th>@*2*@
                                                                    <th width="15%">Debit</th>@*3*@
                                                                    <th width="15%">Credit</th>@*4*@
                                                                    <th width="5%"></th>@*3 Action*@
                                                                    <th></th>@*6 AccountId*@
                                                                    <th></th>@*7 Account*@
                                                                    <th></th>@*8 PartyId*@
                                                                    <th></th>@*9 Party*@
                                                                    <th></th>@*10 Debit*@
                                                                    <th></th>@*11 Credit*@
                                                                    <th></th>@*12 PartyType*@
                                                                    <th></th>@*13 PartyCode*@
                                                                    <th></th>@*14 Id*@

                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <table id="ItemsTableDeleted" class="display table table-striped table-bordered table-hover dt-responsive nowrap" style="display:none;">
                                                            <thead>
                                                                <tr>
                                                                    <th width="5%">#</th>@*0*@
                                                                    <th width="30%">Acount</th>@*1*@
                                                                    <th width="30%">Party</th>@*2*@
                                                                    <th width="15%">Debit</th>@*3*@
                                                                    <th width="15%">Credit</th>@*4*@
                                                                    <th width="5%"></th>@*3 Action*@
                                                                    <th></th>@*6 AccountId*@
                                                                    <th></th>@*7 Account*@
                                                                    <th></th>@*8 PartyId*@
                                                                    <th></th>@*9 Party*@
                                                                    <th></th>@*10 Debit*@
                                                                    <th></th>@*11 Credit*@
                                                                    <th></th>@*12 PartyType*@
                                                                    <th></th>@*13 PartyCode*@
                                                                    <th></th>@*14 Id*@

                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xl-12">
                                                <div class="card border border-success" id="accordion">
                                                    <div class="card-header">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                            Accounting Entries
                                                        </a>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                                        <div class="card-body">
                                                            @*<div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6  col-xl-6" hidden>
                                                                            <div class="card" id="accordion">

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6  col-xl-6">
                                                                            <div class="form-group">
                                                                                <label>Account</label>
                                                                                <input type="hidden" id="AccountId" name="AccountId" required>
                                                                                <input type="text" id="Account" name="Account" placeholder="Type Name to search" class="form-control" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Debit</label>
                                                                                <input id="Debit" type="text" class="form-control">
                                                                            </div>

                                                                        </div>

                                                                        <div class="col-md-6  col-xl-6">
                                                                            <div class="form-group">
                                                                                <label>Party</label>
                                                                                <input type="hidden" id="PartyId" name="PartyId" required>
                                                                                <input type="text" id="Party" name="Party" placeholder="Type Name to search" class="form-control" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Credit</label>
                                                                                <input id="Credit" type="text" class="form-control">
                                                                            </div>
                                                                            <div class="form-group  text-right">
                                                                                <button id="AddItemButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>*@  @*<div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6  col-xl-6" hidden>
                                                                            <div class="card" id="accordion">

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6  col-xl-6">
                                                                            <div class="form-group">
                                                                                <label>Account</label>
                                                                                <input type="hidden" id="AccountId" name="AccountId" required>
                                                                                <input type="text" id="Account" name="Account" placeholder="Type Name to search" class="form-control" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Debit</label>
                                                                                <input id="Debit" type="text" class="form-control">
                                                                            </div>

                                                                        </div>

                                                                        <div class="col-md-6  col-xl-6">
                                                                            <div class="form-group">
                                                                                <label>Party</label>
                                                                                <input type="hidden" id="PartyId" name="PartyId" required>
                                                                                <input type="text" id="Party" name="Party" placeholder="Type Name to search" class="form-control" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Credit</label>
                                                                                <input id="Credit" type="text" class="form-control">
                                                                            </div>
                                                                            <div class="form-group  text-right">
                                                                                <button id="AddItemButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>*@  @*<div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-md-6  col-xl-6" hidden>
                                                                                <div class="card" id="accordion">

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6  col-xl-6">
                                                                                <div class="form-group">
                                                                                    <label>Account</label>
                                                                                    <input type="hidden" id="AccountId" name="AccountId" required>
                                                                                    <input type="text" id="Account" name="Account" placeholder="Type Name to search" class="form-control" required>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>Debit</label>
                                                                                    <input id="Debit" type="text" class="form-control">
                                                                                </div>

                                                                            </div>

                                                                            <div class="col-md-6  col-xl-6">
                                                                                <div class="form-group">
                                                                                    <label>Party</label>
                                                                                    <input type="hidden" id="PartyId" name="PartyId" required>
                                                                                    <input type="text" id="Party" name="Party" placeholder="Type Name to search" class="form-control" required>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>Credit</label>
                                                                                    <input id="Credit" type="text" class="form-control">
                                                                                </div>
                                                                                <div class="form-group  text-right">
                                                                                    <button id="AddItemButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>*@
                                                                <div class="row">
                                                                    <div class="col-md-6  col-xl-6" hidden>
                                                                        <div class="card" id="accordion">

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Account</label>
                                                                            <input type="hidden" id="AccountId" name="AccountId" required>
                                                                            <input type="text" id="Account" name="Account" placeholder="Type Name to search" class="form-control">
                                                                        </div>


                                                                    </div>
                                                                    <div class="col-md-2  col-xl-2">
                                                                        <div class="form-group">
                                                                            <label>Party</label>
                                                                            <select id="Type" name="Type" class="selectpicker form-control">
                                                                                <option>Clients</option>
                                                                                <option>Employees</option>
                                                                                <option>Vendors</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4  col-xl-4">
                                                                        <div class="form-group">
                                                                            <label>&nbsp;</label>
                                                                            <input type="hidden" id="PartyId" name="PartyId" required>
                                                                            <input type="hidden" id="PartyCode" name="PartyCode" required>
                                                                            <input type="text" id="PartyClient" name="PartyClient" placeholder="Type Client to search" class="form-control">
                                                                            <input type="text" id="PartyEmployee" name="PartyEmployee" placeholder="Type Employee to search" class="form-control">
                                                                            <input type="text" id="PartyVendor" name="PartyVendor" placeholder="Type Vendor to search" class="form-control">
                                                                        </div>

                                                                    </div>

                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Debit</label>
                                                                            <input id="Debit" type="text" class="form-control">
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-6  col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Credit</label>
                                                                            <input id="Credit" type="text" class="form-control">
                                                                        </div>
                                                                        <div class="form-group  text-right">
                                                                            <button id="AddItemButton" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6  col-xl-6">

                                                        </div>
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="row form-group">
                                                                <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                                                    <label for="email-input" class=" form-control-label"><strong>Debit Total</strong></label>
                                                                </div>
                                                                <div class="col-md-6 col-xl-6">
                                                                    <input type="text" id="DebitTotal" disabled name="DebitTotal" class="form-control text-right font-weight-bold" required readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6  col-xl-6">

                                                        </div>
                                                        <div class="col-md-6  col-xl-6">
                                                            <div class="row form-group">
                                                                <div class="col-md-6 col-xl-6 text-right" style="padding-top:5px">
                                                                    <label for="email-input" class=" form-control-label"><strong>Credit Total</strong></label>
                                                                </div>
                                                                <div class="col-md-6 col-xl-6">
                                                                    <input type="text" id="CreditTotal" disabled name="CreditTotal" class="form-control text-right font-weight-bold" required readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ItemEditModal" tabindex="-1" role="dialog" aria-labelledby="ItemEditModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-success">
                        <span>Edit Item # </span><label id="EIndexNo">0</label>
                    </h4>
                </div>
                <div class="Modal-body">
                    <div class="col-md-12  col-xl-12">
                        @*<div class="row">
                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label>Account</label>
                                        <input type="hidden" id="EAccountId" name="EAccountId" value="1" required>
                                        <input type="text" id="EAccount" name="EAccount" value="Test Account" placeholder="Type Name to search" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Debit</label>
                                        <input id="EDebit" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6  col-xl-6">
                                    <div class="form-group">
                                        <label>Party</label>
                                        <input type="hidden" id="EPartyId" name="PartyId" required>
                                        <input type="text" id="EParty" name="Party" placeholder="Type Name to search" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Credit</label>
                                        <input id="ECredit" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Account</label>
                                    <input type="hidden" id="EItemid" name="EItemid">
                                    <input type="hidden" id="EAccountId" name="EAccountId" required>
                                    <input type="text" id="EAccount" name="EAccount" placeholder="Type Name to search" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-md-2  col-xl-2">
                                <div class="form-group">
                                    <label>Party</label>
                                    <select id="EType" name="EType" class="selectpicker form-control">
                                        <option>Clients</option>
                                        <option>Employees</option>
                                        <option>Vendors</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4  col-xl-4">
                                <div class="form-group">
                                    <label>Party</label>
                                    <input type="hidden" id="EPartyId" name="PartyId" required>
                                    <input type="hidden" id="EPartyCode" name="PartyCode" required>
                                    <input type="text" id="EPartyClient" name="EPartyClient" placeholder="Type Client to search" class="form-control" required>
                                    <input type="text" id="EPartyEmployee" name="EPartyEmployee" placeholder="Type Employee to search" class="form-control" required>
                                    <input type="text" id="EPartyVendor" name="EPartyVendor" placeholder="Type Vendor to search" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Debit</label>
                                    <input id="EDebit" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6  col-xl-6">
                                <div class="form-group">
                                    <label>Credit</label>
                                    <input id="ECredit" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel" class="btn btn-outline-secondary btn-sm waves-effect" data-dismiss="modal">@L("Cancel")</button>
                    <button id="UpdatetemButton" class="btn btn-outline-success btn-sm">Update</button>
                </div>
            </div>
        </div>

    </div>


