﻿@using ezinvmvc.Web.Models.Common.Modals
@model ezinvmvc.Web.Models.Employees.PositionCreateModel
@{
    Layout = null;
}
<script src="~/view-resources/Views/Employees/_CreatePositionModal.js" asp-append-version="true"></script>
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Create Position"))
<div class="modal-body">
    <form name="PositionCreateForm" role="form" novalidate class="form-validation">
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Position</label>
                        <input class="form-control" type="text" id="Name" name="Name" required maxlength="64" minlength="2">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")