﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.Employees

@model EmployeesViewModel
@{
    ViewBag.CurrentPageName = PageNames.Employees;
}
@section scripts
    {

    <script src="~/view-resources/Views/Employees/Index.js" asp-append-version="true"></script>
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Employees</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-6">
                <div class="text-right" style="padding-top:10px">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Export
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            @if (IsGranted(PermissionNames.Master_Employees_Export))
                            {
                                <a id="ExportToExcelButton" class="dropdown-item" href="#"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export</a>
                                @*<a id="ExportToPDFButton" class="dropdown-item" href="#"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;PDF</a>*@
                            }
                        </div>
                    </div>

                    @if (IsGranted(PermissionNames.Master_Employees_Create))
                    {
                    <button id="CreateNewEmployeesButton" data-toggle="modal" data-target="#EmployeeCreateModal" class="btn btn-outline-primary btn-sm">CreateEmployees</button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @* Filter *@
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-md-4 col-xl-4">
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="form-group">
                                    <select name="SearchBy" id="SearchBy" class="selectpicker form-control">
                                        <option value=0>-- Search By --</option>
                                        <option value="CompleteName">Full Name</option>
                                        <option value="Department">Department</option>
                                        <option value="Division">Division</option>
                                        <option value="Sectors">Sectors</option>
                                        <option value="Position">Position</option>
                                        <option value="UserId">UserId</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="EmployeeTableFilter" class="form-control m-input" placeholder="Search..." value="@Model.FilterText">
                                        <span class="input-group-btn">
                                            <button id="GetEmployeeButton" class="btn btn-default" type="submit"><i class="fa fa-search" aria-label="@L("Search")"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* List *@
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <table id="EmployeesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th width="20%">Employee ID</th>
                                            <th width="20%">Full Name</th>
                                            <th width="20%">Cell No</th>
                                            <th width="20%">Department</th>
                                            <th width="20%">Position</th>
                                            <th width="20%">Status</th>
                                            <th width="20%">@L("Actions")</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EmployeeCreateModal" tabindex="-1" role="dialog" aria-labelledby="EmployeeCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Create New Employee</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="EmployeeCreateForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="StatusId" type="hidden" name="StatusId" required maxlength="32" minlength="2" class="validate form-control" value="1">

                                    <label for="FirstName" class="form-label">First Name</label>
                                    <input id="FirstName" type="text" name="FirstName" required maxlength="32" minlength="2" class="validate form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="MiddleName" class="form-label">Middle Name</label>
                                    <input id="MiddleName" type="text" name="MiddleName" required maxlength="32" minlength="1" class="validate form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="LastName" class="form-label">Last Name</label>
                                    <input id="LastName" type="text" name="LastName" required maxlength="32" minlength="2" class="validate form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-label="@L("Closed")"></i>&nbsp;Closed</button>
                        <button id="submit" class="btn btn-outline-success btn-sm" type="submit"><i class="fa fa-save" aria-label="@L("Save")"></i>&nbsp;Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>