﻿@using ezinvmvc.Web.Startup
<title>@ViewBag.Title</title>

@section scripts
    {
    <script src="~/view-resources/Views/Employees/Profile.js" asp-append-version="true"></script>
}
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header" style="font-size:medium; font-weight:500">
                Profile
            </div>
            <div class="card-body">
                <form id="form1" name="form1" role="form" enctype="multipart/form-data" multiple novalidate class="form-validation">
                    <div class="row">

                        <div class="col-md-2">
                            <img id="profile" src="../images/avatar/user.png" style="text-align:center;width: 150px; height:150px; background-color: #ffffff;border-radius: 5px;">
                            @*<img src="~/images/Logo.png" style="text-align:center;width: 150px;background-color: #ffffff;border-radius: 5px; margin-bottom: 10px;">*@
                        </div>
                        <div class="col-md-10 card-header" style=" align-self: self-end;">
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" hidden disabled type="text" name="UserId" id="UserId" placeholder="UserId" style="margin-bottom: 10px;">
                                    <input class="form-control" hidden disabled type="text" name="EmpId" id="EmpId" placeholder="EmpId" style="margin-bottom: 10px;">
                                    <input class="form-control" hidden disabled type="text" name="OldImage" id="OldImage" placeholder="OldImage" style="margin-bottom: 10px;">
                                    <label style="font-weight: 600; color: gray;">Registered Account</label>
                                    <input class="form-control" disabled type="text" name="UserName" id="UserName" placeholder="UserName" style="margin-bottom: 10px;">
                                    <input type="file" id="fileinput" name="fileinput" style="margin-bottom: 10px;">
                                    @*<input id="fileinput" type="file" class="custom-file-input">
        <label id="fileinputlabel" for="fileinput" class="custom-file-label text-truncate">Choose file...</label>*@
                                </div>

                                <div class="col-md-4">
                                    <label><br></label>
                                    <input class="form-control" disabled type="text" name="EmailAdd" id="EmailAdd" required placeholder="Email" style="margin-bottom: 10px;">
                                    <input class="form-control" disabled type="text" name="NameFile" id="NameFile" required placeholder="FirstName" style="margin-bottom: 10px;">
                                </div>
                                <div class="col-md-4">
                                    <label><br></label>
                                    <input class="form-control" disabled type="text" name="Status" id="Status" required placeholder="Status" style="margin-bottom: 10px;">
                                    <input class="form-control" disabled type="text" name="SureName" id="SureName" required placeholder="LastName" style="margin-bottom: 10px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <p>
                                <div class="row">
                                    <div class="col-md-12"> <label style="font-weight: 600; color: gray;">Profile Info</label></div>
                                       
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" name="firstName" id="firstName" placeholder="FirstName" style="margin-bottom: 10px;">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" name="middleName" id="middleName" placeholder="MiddleName" style="margin-bottom: 10px;">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" name="lastName" id="lastName" placeholder="LastName" style="margin-bottom: 10px;">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" name="telNo" id="telNo" placeholder="telNo" style="margin-bottom: 10px;">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" name="cellNo" id="cellNo" placeholder="cellNo" style="margin-bottom: 10px;">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" name="remarks" id="remarks" placeholder="Company" style="margin-bottom: 10px;">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea id="address" name="address" class="form-control" rows="3" placeholder="Address" style="margin-bottom: 10px;"></textarea>
                                    </div>
                                    <div class="col-md-12" style="text-align: end;">

                                        <button class="btn btn-danger btn-lg" id="btnEdit" title="Edit"><i class="fa fa-lg fa-pencil-square-o"></i>&nbsp;Edit</button>
                                        <button class="btn btn-warning btn-lg" id="btnCancelled" title="Cancelled"><i class="fa fa-lg fa-window-close"></i>&nbsp;Cancelled</button>
                                        <button class="btn btn-info btn-lg" id="btnUpdate" title="Update"><i class="fa fa-lg fa-save"></i>&nbsp;Update</button>

                                        <button class="btn btn-success btn-lg" id="btnSave" title="Save"><i class="fa fa-lg fa-save"></i>&nbsp;Save</button>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-2"></div>

                    </div>
                </form>

            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
