﻿@using ezinvmvc.Web.Startup
@using ezinvmvc.Authorization
@using ezinvmvc.Web.Models.Employees

@model EmployeesViewModel
@{
    ViewBag.CurrentPageName = PageNames.JobDescription;
}
@section scripts
    {
    <script src="~/view-resources/Views/JobDescription/Index.js" asp-append-version="true"></script>
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-md-6 col-xl-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Job Description</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="text-right" style="padding-top:10px">
                    <button id="CreateNewJob" data-toggle="modal" data-target="#CreateNewJobModal" class="btn btn-outline-primary btn-sm">Create Job Offers</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @* Filter *@
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-md-4 col-xl-4">
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="form-group">
                                    <select name="SearchBy" id="SearchBy" class="selectpicker form-control">
                                        <option value=0>-- Search By --</option>
                                        <option value="JobTitle">JobTitle</option>
                                        <option value="Department">Department</option>
                                        <option value="Position">Position</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="JOTableFilter" class="form-control m-input" placeholder="Search..." value="">
                                        <span class="input-group-btn">
                                            <button id="GetJOButton" class="btn btn-default" type="submit"><i class="fa fa-search" aria-label="@L("Search")"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* List *@
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <table id="JobTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th width="20%">Job Title</th>
                                            <th width="20%">Department</th>
                                            <th width="20%">Position</th>
                                            <th width="20%">Description</th>
                                            <th width="20%">Reposibilities</th>
                                            <th width="20%">Requires Skills</th>
                                            <th width="20%">Education</th>
                                            <th width="20%">Status</th>
                                            <th width="20%">@L("Actions")</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CreateNewJobModal" tabindex="-1" role="dialog" aria-labelledby="CreateNewJobModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Job Description</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="JOCreateFormId" role="form" novalidate class="form-validation">
                    <input id="id" type="hidden" name="id" required class="validate form-control">
                </form>
                <form name="JOCreateForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="JobTitle" class="form-label">Job Title</label>
                                    <input id="JobTitle" type="text" name="JobTitle" required class="validate form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Department" class="form-label">Department</label>
                                    <input id="Department" type="text" name="Department" required maxlength="32" class="validate form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Position" class="form-label">Position</label>
                                    <input id="Position" type="text" name="Position" required maxlength="32" class="validate form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <label for="Position" class="form-label">Status</label>
                                <select name="Status" id="Status" class="selectpicker form-control">
                                    <option value=Active>Active</option>
                                    <option value="InActive">In-Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Description" class="form-label">Description</label>
                                    <textarea id="Description" type="text" name="Description" rows="3" required maxlength="32" class="validate form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Responsibilities" class="form-label">Responsibilities</label>
                                    <textarea id="Responsibilities" type="text" name="Responsibilities" rows="3" required class="validate form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="RequiredSkills" class="form-label">Required Skills</label>
                                    <textarea id="RequiredSkills" type="text" name="RequiredSkills" rows="3" required class="validate form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="Education" class="form-label">Education</label>
                                    <textarea id="Education" type="text" name="Education" rows="3" required class="validate form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-label="@L("Closed")"></i>&nbsp;Closed</button>
                        <button id="submit" class="btn btn-outline-success btn-sm" type="submit"><i class="fa fa-save" aria-label="@L("Save")"></i>&nbsp;Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


