﻿@using ezinvmvc.Web.Models.Common.Modals
@model ezinvmvc.Web.Models.ContactPersons.ContactPersonCreateModel
@{
    Layout = null;
}
<script src="~/view-resources/Views/ContactPersons/_CreateContactPersonModal.js" asp-append-version="true"></script>
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Create Contact Person"))
<div class="modal-body">
    <form name="ContactPersonCreateForm" role="form" novalidate class="form-validation">
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">For</label>
                        <input type="hidden" id="CpReferenceId" name="ReferenceId" value="@Model.ContactPerson.ReferenceId" />
                        <input type="hidden" id="CpReference" name="Reference" value="@Model.ContactPerson.Reference" />
                        <input type="text" id="CpReferenceName" name="ReferenceName" class="form-control" value="@Model.ContactPerson.ReferenceName" readonly>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                &nbsp;
            </div>
        </div>
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">First Name</label>
                        <div class="input-group">
                            <div class="input-group-addon" style="padding: 0 0 0 0 !important; border: 0 !important;width:90px">
                                <select id="CpTitle" name="Title" class="selectpicker form-control">
                                    @*<option>-- Select --</option>*@
                                    <option>Mr.</option>
                                    <option>Ms.</option>
                                    <option>Mrs.</option>
                                    <option>Dr.</option>
                                    <option>Atty.</option>
                                    <option>Engr.</option>
                                    <option>Arch.</option>
                                </select>
                            </div>
                            <input type="text" id="CpFirstName" name="FirstName" class="form-control" placeholder="First Name" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Last Name</label>
                        <input type="text" id="CpLastName" name="LastName" class="form-control" placeholder="Last Name" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Tel. No.</label>
                        <input type="text" id="CpTelNo" name="TelNo" class="validate form-control" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Mobile No.</label>
                        <input type="text" id="CpMobileNo" name="MobileNo" class="validate form-control" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Email</label>
                        <input type="email" id="CpEmail" name="Email" class="validate form-control" placeholder="email@email.com" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Position</label>
                        <input type="text" id="CpPosition" name="Position" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Birthday</label>
                        <div class="form-group">
                            <div class="input-group date" id="cpdatetimepicker" data-target-input="nearest">
                                <input id="CpBirthday" class="form-control datetimepicker-input" placeholder="mm/dd/yyyy" type="text" name="Birthday" data-target="#cpdatetimepicker">
                                <div class="input-group-append" data-target="#cpdatetimepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

